This Jupyter NB is for practice with webscraping and grouping the data together. The data processing and modeling will be done in another NB. I will be getting player data from FBREF (https://fbref.com/en/) and the TOTS data will be from Wikipedia (https://en.wikipedia.org/wiki/PFA_Team_of_the_Year)

In [1]:
"""IMPORTS"""
# Python ≥3.5 (ideally)
import platform
import sys, getopt
assert sys.version_info >= (3, 5)
import csv

# Import Dependencies
%matplotlib inline

# Math Operations
import numpy as np
from math import pi

# Datetime
import datetime
from datetime import date
import time

# Data Preprocessing
import pandas as pd
import ydata_profiling as yp
import os
import re
import random
import glob
from io import BytesIO
from pathlib import Path

# Reading directories
import glob
import os

# Working with JSON
import json
from pandas import json_normalize

# Web Scraping
import requests
import pandas as pd
from bs4 import BeautifulSoup
from io import StringIO
import re

# Data Visualisation
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('seaborn-v0_8-whitegrid')
import missingno as msno

# Progress Bar
from tqdm import tqdm

# Display in Jupyter
from IPython.display import Image, YouTubeVideo
from IPython.core.display import HTML

# Ignore Warnings
import warnings
warnings.filterwarnings(action="ignore", message="^internal gelsd")

/Users/marcoszertuche/anaconda3/envs/PersonalProject/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
""" WEBSCRAPING PLAYER STATS """

# Player Stats from FBREF
url_2023_2024 = 'https://fbref.com/en/comps/9/stats/Premier-League-Stats'
url_2022_2023 = 'https://fbref.com/en/comps/9/2022-2023/stats/2022-2023-Premier-League-Stats'
url_2021_2022 = 'https://fbref.com/en/comps/9/2021-2022/stats/2021-2022-Premier-League-Stats'
url_2020_2021 = 'https://fbref.com/en/comps/9/2020-2021/stats/2020-2021-Premier-League-Stats'
url_2019_2020 = 'https://fbref.com/en/comps/9/2019-2020/stats/2019-2020-Premier-League-Stats'
url_2018_2019 = 'https://fbref.com/en/comps/9/2018-2019/stats/2018-2019-Premier-League-Stats'
url_2017_2018 = 'https://fbref.com/en/comps/9/2017-2018/stats/2017-2018-Premier-League-Stats'

urls = [ url_2023_2024 , url_2022_2023 , url_2021_2022 , url_2020_2021 , url_2019_2020, url_2018_2019, url_2017_2018]
player_stat_dfs = []


for link in urls:
    temp = pd.read_html(
        requests.get(link).text.replace('<!--','').replace('-->','')
        ,attrs={'id':'stats_standard'}
    )[0]
    
    temp_data = pd.DataFrame(temp)
    
    player_stat_dfs.append(temp_data)

/var/folders/_x/czhgmpkn0lx4yd57n3w9bwv00000gn/T/ipykernel_13034/357725230.py:17: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  temp = pd.read_html(
/var/folders/_x/czhgmpkn0lx4yd57n3w9bwv00000gn/T/ipykernel_13034/357725230.py:17: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  temp = pd.read_html(
/var/folders/_x/czhgmpkn0lx4yd57n3w9bwv00000gn/T/ipykernel_13034/357725230.py:17: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  temp = pd.read_html(
/var/folders/_x/czhgmpkn0lx4yd57n3w9bwv00000gn/T/ipykernel_13034/357725230.py:17: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  temp = pd.read_html(
/var/folders/_x/czhgmpkn0lx4yd57n3w9bwv00000gn/T/ipykernel_13034/357725230.py:17: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  temp = pd.read_html(
/var/folders/_x/czhgmpkn0lx4yd57n3w9bwv00000gn/T/ipykernel_13034/357725230.py:17: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  temp = pd.read_html(
/var/folders/_x/czhgmpkn0lx4yd57n3w9bwv00000gn/T/ipykernel_13034/357725230.py:17: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  temp = pd.read_html(

In [3]:
"""CHECK DATA FRAMES"""
print(len(player_stat_dfs))

for df in player_stat_dfs:
    print(df)
    print('--------------')

7
    Unnamed: 0_level_0   Unnamed: 1_level_0 Unnamed: 2_level_0  \
                    Rk               Player             Nation
0                    1           Max Aarons            eng ENG
1                    2    Joshua Acheampong            eng ENG
2                    3   Bénie Adama Traore             ci CIV
3                    4          Tyler Adams             us USA
4                    5     Tosin Adarabioyo            eng ENG
..                 ...                  ...                ...
594                573        Anass Zaroury             ma MAR
595                574  Oleksandr Zinchenko             ua UKR
596                575           Kurt Zouma             fr FRA
597                 Rk               Player             Nation
598                576      Martin Ødegaard             no NOR

    Unnamed: 3_level_0 Unnamed: 4_level_0 Unnamed: 5_level_0  \
                   Pos              Squad                Age
0                   DF        Bournemouth             24-131
1                   DF            Chelsea             18-009
2                FW,MF      Sheffield Utd             21-166
3                   MF        Bournemouth             25-090
4                   DF             Fulham             26-233
..                 ...                ...                ...
594              FW,MF            Burnley             23-189
595                 DF            Arsenal             27-151
596                 DF           West Ham             29-200
597                Pos              Squad                Age
598                 MF            Arsenal             25-149

    Unnamed: 6_level_0 Playing Time                ... Per 90 Minutes        \
                  Born           MP  Starts   Min  ...            Ast   G+A
0                 2000           19      12  1168  ...           0.08  0.08
1                 2006            1       0     6  ...           0.00  0.00
2                 2002            8       3   387  ...           0.00  0.00
3                 1999            3       1   120  ...           0.00  0.00
4                 1997           20      18  1617  ...           0.00  0.11
..                 ...          ...     ...   ...  ...            ...   ...
594               2000            6       1   152  ...           0.00  0.00
595               1996           26      20  1690  ...           0.11  0.16
596               1994           32      31  2748  ...           0.00  0.10
597               Born           MP  Starts   Min  ...            Ast   G+A
598               1998           34      34  3001  ...           0.24  0.48

                                                      Unnamed: 36_level_0
     G-PK  G+A-PK    xG   xAG  xG+xAG  npxG  npxG+xAG             Matches
0    0.00    0.08  0.00  0.06    0.07  0.00      0.07             Matches
1    0.00    0.00   NaN   NaN     NaN   NaN       NaN             Matches
2    0.00    0.00  0.06  0.13    0.19  0.06      0.19             Matches
3    0.00    0.00  0.00  0.06    0.06  0.00      0.06             Matches
4    0.11    0.11  0.04  0.01    0.05  0.04      0.05             Matches
..    ...     ...   ...   ...     ...   ...       ...                 ...
594  0.00    0.00  0.10  0.02    0.12  0.10      0.12             Matches
595  0.05    0.16  0.03  0.13    0.16  0.03      0.16             Matches
596  0.10    0.10  0.06  0.01    0.07  0.06      0.07             Matches
597  G-PK  G+A-PK    xG   xAG  xG+xAG  npxG  npxG+xAG             Matches
598  0.18    0.42  0.21  0.26    0.47  0.16      0.42             Matches

[599 rows x 37 columns]
--------------
    Unnamed: 0_level_0   Unnamed: 1_level_0 Unnamed: 2_level_0  \
                    Rk               Player             Nation
0                    1     Brenden Aaronson             us USA
1                    2        George Abbott            eng ENG
2                    3            Che Adams            sct SCO
3                    4          Tyler Adams             us USA
4                    5     Tosin Adarabioyo            eng ENG
..                 ...                  ...                ...
586                565        Jordan Zemura             zw ZIM
587                566  Oleksandr Zinchenko             ua UKR
588                567         Hakim Ziyech             ma MAR
589                568           Kurt Zouma             fr FRA
590                569      Martin Ødegaard             no NOR

    Unnamed: 3_level_0 Unnamed: 4_level_0 Unnamed: 5_level_0  \
                   Pos              Squad                Age
0                MF,FW       Leeds United                 21
1                   MF          Tottenham                 16
2                   FW        Southampton                 26
3                   MF       Leeds United                 23
4                   DF             Fulham                 24
..                 ...                ...                ...
586                 DF        Bournemouth                 22
587                 DF            Arsenal                 25
588              FW,MF            Chelsea                 29
589                 DF           West Ham                 27
590                 MF            Arsenal                 23

    Unnamed: 6_level_0 Playing Time               ... Per 90 Minutes        \
                  Born           MP Starts   Min  ...            Ast   G+A
0                 2000           36     28  2372  ...           0.11  0.15
1                 2005            1      0     1  ...           0.00  0.00
2                 1996           28     23  1992  ...           0.14  0.36
3                 1999           24     24  2156  ...           0.00  0.00
4                 1997           25     23  2085  ...           0.00  0.04
..                 ...          ...    ...   ...  ...            ...   ...
586               1999           19     17  1454  ...           0.06  0.06
587               1996           27     26  2118  ...           0.08  0.13
588               1993           18      6   661  ...           0.41  0.41
589               1994           25     24  1989  ...           0.00  0.09
590               1998           37     37  3127  ...           0.20  0.63

                                                   Unnamed: 36_level_0
     G-PK G+A-PK    xG   xAG xG+xAG  npxG npxG+xAG             Matches
0    0.04   0.15  0.15  0.16   0.31  0.15     0.31             Matches
1    0.00   0.00  0.00  0.00   0.00  0.00     0.00             Matches
2    0.23   0.36  0.30  0.13   0.42  0.30     0.42             Matches
3    0.00   0.00  0.00  0.06   0.06  0.00     0.06             Matches
4    0.04   0.04  0.03  0.02   0.05  0.03     0.05             Matches
..    ...    ...   ...   ...    ...   ...      ...                 ...
586  0.00   0.06  0.02  0.11   0.14  0.02     0.14             Matches
587  0.04   0.13  0.06  0.06   0.12  0.06     0.12             Matches
588  0.00   0.41  0.08  0.30   0.38  0.08     0.38             Matches
589  0.09   0.09  0.10  0.00   0.10  0.10     0.10             Matches
590  0.43   0.63  0.29  0.23   0.52  0.29     0.52             Matches

[591 rows x 37 columns]
--------------
    Unnamed: 0_level_0    Unnamed: 1_level_0 Unnamed: 2_level_0  \
                    Rk                Player             Nation
0                    1            Max Aarons            eng ENG
1                    2             Che Adams            sct SCO
2                    3       Rayan Aït-Nouri             dz ALG
3                    4       Kristoffer Ajer             no NOR
4                    5            Nathan Aké             nl NED
..                 ...                   ...                ...
562                542  Christoph Zimmermann             de GER
563                543   Oleksandr Zinchenko             ua UKR
564                544          Hakim Ziyech             ma MAR
565                545            Kurt Zouma             fr FRA
566                546       Martin Ødegaard             no NOR

    Unnamed: 3_level_0 Unnamed: 4_level_0 Unnamed: 5_level_0  \
                   Pos              Squad                Age
0                   DF       Norwich City                 21
1                   FW        Southampton                 25
2                DF,MF             Wolves                 20
3                   DF          Brentford                 23
4                   DF    Manchester City                 26
..                 ...                ...                ...
562                 DF       Norwich City                 28
563                 DF    Manchester City                 24
564              MF,FW            Chelsea                 28
565                 DF           West Ham                 26
566              MF,FW            Arsenal                 22

    Unnamed: 6_level_0 Playing Time               ... Per 90 Minutes        \
                  Born           MP Starts   Min  ...            Ast   G+A
0                 2000           34     32  2881  ...           0.06  0.06
1                 1996           30     23  2039  ...           0.13  0.44
2                 2001           23     20  1828  ...           0.10  0.15
3                 1998           24     23  1995  ...           0.14  0.18
4                 1995           14     10   923  ...           0.00  0.20
..                 ...          ...    ...   ...  ...            ...   ...
562               1993            3      2   157  ...           0.00  0.00
563               1996           15     10  1047  ...           0.34  0.34
564               1993           23     14  1319  ...           0.20  0.48
565               1994           24     24  2078  ...           0.00  0.04
566               1998           36     32  2785  ...           0.13  0.36

                                                   Unnamed: 36_level_0
     G-PK G+A-PK    xG   xAG xG+xAG  npxG npxG+xAG             Matches
0    0.00   0.06  0.03  0.05   0.08  0.03     0.08             Matches
1    0.31   0.44  0.31  0.13   0.45  0.31     0.45             Matches
2    0.05   0.15  0.03  0.08   0.11  0.03     0.11             Matches
3    0.05   0.18  0.04  0.08   0.11  0.04     0.11             Matches
4    0.20   0.20  0.07  0.06   0.12  0.07     0.12             Matches
..    ...    ...   ...   ...    ...   ...      ...                 ...
562  0.00   0.00  0.03  0.00   0.03  0.03     0.03             Matches
563  0.00   0.34  0.04  0.23   0.27  0.04     0.27             Matches
564  0.27   0.48  0.23  0.20   0.43  0.23     0.43             Matches
565  0.04   0.04  0.05  0.00   0.05  0.05     0.05             Matches
566  0.23   0.36  0.15  0.20   0.36  0.15     0.36             Matches

[567 rows x 37 columns]
--------------
    Unnamed: 0_level_0   Unnamed: 1_level_0 Unnamed: 2_level_0  \
                    Rk               Player             Nation
0                    1  Patrick van Aanholt             nl NED
1                    2        Tammy Abraham            eng ENG
2                    3            Che Adams            sct SCO
3                    4     Tosin Adarabioyo            eng ENG
4                    5               Adrián             es ESP
..                 ...                  ...                ...
548                528          Andi Zeqiri             ch SUI
549                529  Oleksandr Zinchenko             ua UKR
550                530         Hakim Ziyech             ma MAR
551                531           Kurt Zouma             fr FRA
552                532      Martin Ødegaard             no NOR

    Unnamed: 3_level_0 Unnamed: 4_level_0 Unnamed: 5_level_0  \
                   Pos              Squad                Age
0                   DF     Crystal Palace                 29
1                   FW            Chelsea                 22
2                   FW        Southampton                 24
3                   DF             Fulham                 22
4                   GK          Liverpool                 33
..                 ...                ...                ...
548              FW,DF           Brighton                 21
549                 DF    Manchester City                 23
550              MF,FW            Chelsea                 27
551                 DF            Chelsea                 25
552                 MF            Arsenal                 21

    Unnamed: 6_level_0 Playing Time               ... Per 90 Minutes        \
                  Born           MP Starts   Min  ...            Ast   G+A
0                 1990           22     20  1777  ...           0.05  0.05
1                 1997           22     12  1040  ...           0.09  0.61
2                 1996           36     30  2667  ...           0.17  0.47
3                 1997           33     33  2953  ...           0.00  0.00
4                 1987            3      3   270  ...           0.00  0.00
..                 ...          ...    ...   ...  ...            ...   ...
548               1999            9      0   171  ...           0.00  0.00
549               1996           20     15  1478  ...           0.00  0.00
550               1993           23     15  1172  ...           0.23  0.38
551               1994           24     22  2029  ...           0.00  0.22
552               1998           14      9   866  ...           0.21  0.31

                                                   Unnamed: 36_level_0
     G-PK G+A-PK    xG   xAG xG+xAG  npxG npxG+xAG             Matches
0    0.00   0.05  0.07  0.04   0.11  0.07     0.11             Matches
1    0.52   0.61  0.51  0.06   0.57  0.51     0.57             Matches
2    0.30   0.47  0.33  0.17   0.50  0.33     0.50             Matches
3    0.00   0.00  0.03  0.01   0.04  0.03     0.04             Matches
4    0.00   0.00  0.00  0.00   0.00  0.00     0.00             Matches
..    ...    ...   ...   ...    ...   ...      ...                 ...
548  0.00   0.00  0.38  0.04   0.42  0.38     0.42             Matches
549  0.00   0.00  0.04  0.06   0.10  0.04     0.10             Matches
550  0.15   0.38  0.14  0.28   0.42  0.14     0.42             Matches
551  0.22   0.22  0.09  0.00   0.09  0.09     0.09             Matches
552  0.10   0.31  0.08  0.21   0.29  0.08     0.29             Matches

[553 rows x 37 columns]
--------------
    Unnamed: 0_level_0    Unnamed: 1_level_0 Unnamed: 2_level_0  \
                    Rk                Player             Nation
0                    1   Patrick van Aanholt             nl NED
1                    2            Max Aarons            eng ENG
2                    3         Tammy Abraham            eng ENG
3                    4             Che Adams            sct SCO
4                    5                Adrián             es ESP
..                 ...                   ...                ...
537                518         Wilfried Zaha             ci CIV
538                519  Christoph Zimmermann             de GER
539                520   Oleksandr Zinchenko             ua UKR
540                521     Richairo Živković             cw CUW
541                522            Kurt Zouma             fr FRA

    Unnamed: 3_level_0 Unnamed: 4_level_0 Unnamed: 5_level_0  \
                   Pos              Squad                Age
0                   DF     Crystal Palace                 28
1                   DF       Norwich City                 19
2                   FW            Chelsea                 21
3                   FW        Southampton                 23
4                   GK          Liverpool                 32
..                 ...                ...                ...
537              FW,MF     Crystal Palace                 26
538                 DF       Norwich City                 26
539                 DF    Manchester City                 22
540                 FW      Sheffield Utd                 22
541                 DF            Chelsea                 24

    Unnamed: 6_level_0 Playing Time               ... Per 90 Minutes        \
                  Born           MP Starts   Min  ...            Ast   G+A
0                 1990           29     29  2507  ...           0.07  0.18
1                 2000           36     36  3240  ...           0.03  0.03
2                 1997           34     25  2215  ...           0.12  0.73
3                 1996           30     12  1111  ...           0.16  0.49
4                 1987           11      9   875  ...           0.00  0.00
..                 ...          ...    ...   ...  ...            ...   ...
537               1992           38     37  3280  ...           0.08  0.19
538               1993           17     16  1430  ...           0.06  0.06
539               1996           19     13  1276  ...           0.00  0.00
540               1996            5      0   112  ...           0.00  0.00
541               1994           28     25  2344  ...           0.00  0.00

                                                   Unnamed: 36_level_0
     G-PK G+A-PK    xG   xAG xG+xAG  npxG npxG+xAG             Matches
0    0.07   0.14  0.08  0.13   0.21  0.05     0.18             Matches
1    0.00   0.03  0.02  0.11   0.12  0.02     0.12             Matches
2    0.61   0.73  0.67  0.11   0.77  0.67     0.77             Matches
3    0.32   0.49  0.43  0.14   0.57  0.43     0.57             Matches
4    0.00   0.00  0.00  0.00   0.00  0.00     0.00             Matches
..    ...    ...   ...   ...    ...   ...      ...                 ...
537  0.11   0.19  0.14  0.11   0.25  0.14     0.25             Matches
538  0.00   0.06  0.02  0.01   0.03  0.02     0.03             Matches
539  0.00   0.00  0.03  0.11   0.14  0.03     0.14             Matches
540  0.00   0.00  0.06  0.08   0.14  0.06     0.14             Matches
541  0.00   0.00  0.04  0.01   0.05  0.04     0.05             Matches

[542 rows x 37 columns]
--------------
    Unnamed: 0_level_0          Unnamed: 1_level_0 Unnamed: 2_level_0  \
                    Rk                      Player             Nation
0                    1         Patrick van Aanholt             nl NED
1                    2               Sergio Agüero             ar ARG
2                    3                  Nathan Aké             nl NED
3                    4             Marc Albrighton            eng ENG
4                    5           Toby Alderweireld             be BEL
..                 ...                         ...                ...
523                504  Andre-Frank Zambo Anguissa             cm CMR
524                505           Davide Zappacosta             it ITA
525                506         Oleksandr Zinchenko             ua UKR
526                507              Kenneth Zohore             dk DEN
527                508                  Kurt Zouma             fr FRA

    Unnamed: 3_level_0 Unnamed: 4_level_0 Unnamed: 5_level_0  \
                   Pos              Squad                Age
0                   DF     Crystal Palace                 27
1                   FW    Manchester City                 30
2                   DF        Bournemouth                 23
3                FW,MF     Leicester City                 28
4                   DF          Tottenham                 29
..                 ...                ...                ...
523                 MF             Fulham                 22
524                 DF            Chelsea                 26
525                 DF    Manchester City                 21
526                 FW       Cardiff City                 24
527                 DF            Everton                 23

    Unnamed: 6_level_0 Playing Time               ... Per 90 Minutes        \
                  Born           MP Starts   Min  ...            Ast   G+A
0                 1990           36     36  3195  ...           0.06  0.14
1                 1988           33     31  2459  ...           0.29  1.06
2                 1995           38     38  3411  ...           0.00  0.11

In [4]:
"""PUT TABLES INTO DICTIONARY BY YEAR"""

yr_playerStat_dict = {
    '2023-2024' : player_stat_dfs[0],
    '2022-2023' : player_stat_dfs[1],
    '2021-2022' : player_stat_dfs[2],
    '2020-2021' : player_stat_dfs[3],
    '2019-2020' : player_stat_dfs[4],
    '2018-2019' : player_stat_dfs[5],
    '2017-2018' : player_stat_dfs[6]
}

for key , val in yr_playerStat_dict.items():
    print(f"PREMIER LEAGUE - {key} Season: ")
    print("---------------------------")
    print(val , '\n')

PREMIER LEAGUE - 2023-2024 Season:
---------------------------
    Unnamed: 0_level_0   Unnamed: 1_level_0 Unnamed: 2_level_0  \
                    Rk               Player             Nation
0                    1           Max Aarons            eng ENG
1                    2    Joshua Acheampong            eng ENG
2                    3   Bénie Adama Traore             ci CIV
3                    4          Tyler Adams             us USA
4                    5     Tosin Adarabioyo            eng ENG
..                 ...                  ...                ...
594                573        Anass Zaroury             ma MAR
595                574  Oleksandr Zinchenko             ua UKR
596                575           Kurt Zouma             fr FRA
597                 Rk               Player             Nation
598                576      Martin Ødegaard             no NOR

    Unnamed: 3_level_0 Unnamed: 4_level_0 Unnamed: 5_level_0  \
                   Pos              Squad                Age
0                   DF        Bournemouth             24-131
1                   DF            Chelsea             18-009
2                FW,MF      Sheffield Utd             21-166
3                   MF        Bournemouth             25-090
4                   DF             Fulham             26-233
..                 ...                ...                ...
594              FW,MF            Burnley             23-189
595                 DF            Arsenal             27-151
596                 DF           West Ham             29-200
597                Pos              Squad                Age
598                 MF            Arsenal             25-149

    Unnamed: 6_level_0 Playing Time                ... Per 90 Minutes        \
                  Born           MP  Starts   Min  ...            Ast   G+A
0                 2000           19      12  1168  ...           0.08  0.08
1                 2006            1       0     6  ...           0.00  0.00
2                 2002            8       3   387  ...           0.00  0.00
3                 1999            3       1   120  ...           0.00  0.00
4                 1997           20      18  1617  ...           0.00  0.11
..                 ...          ...     ...   ...  ...            ...   ...
594               2000            6       1   152  ...           0.00  0.00
595               1996           26      20  1690  ...           0.11  0.16
596               1994           32      31  2748  ...           0.00  0.10
597               Born           MP  Starts   Min  ...            Ast   G+A
598               1998           34      34  3001  ...           0.24  0.48

                                                      Unnamed: 36_level_0
     G-PK  G+A-PK    xG   xAG  xG+xAG  npxG  npxG+xAG             Matches
0    0.00    0.08  0.00  0.06    0.07  0.00      0.07             Matches
1    0.00    0.00   NaN   NaN     NaN   NaN       NaN             Matches
2    0.00    0.00  0.06  0.13    0.19  0.06      0.19             Matches
3    0.00    0.00  0.00  0.06    0.06  0.00      0.06             Matches
4    0.11    0.11  0.04  0.01    0.05  0.04      0.05             Matches
..    ...     ...   ...   ...     ...   ...       ...                 ...
594  0.00    0.00  0.10  0.02    0.12  0.10      0.12             Matches
595  0.05    0.16  0.03  0.13    0.16  0.03      0.16             Matches
596  0.10    0.10  0.06  0.01    0.07  0.06      0.07             Matches
597  G-PK  G+A-PK    xG   xAG  xG+xAG  npxG  npxG+xAG             Matches
598  0.18    0.42  0.21  0.26    0.47  0.16      0.42             Matches

[599 rows x 37 columns]

PREMIER LEAGUE - 2022-2023 Season:
---------------------------
    Unnamed: 0_level_0   Unnamed: 1_level_0 Unnamed: 2_level_0  \
                    Rk               Player             Nation
0                    1     Brenden Aaronson             us USA
1                    2        George Abbott            eng ENG
2                    3            Che Adams            sct SCO
3                    4          Tyler Adams             us USA
4                    5     Tosin Adarabioyo            eng ENG
..                 ...                  ...                ...
586                565        Jordan Zemura             zw ZIM
587                566  Oleksandr Zinchenko             ua UKR
588                567         Hakim Ziyech             ma MAR
589                568           Kurt Zouma             fr FRA
590                569      Martin Ødegaard             no NOR

    Unnamed: 3_level_0 Unnamed: 4_level_0 Unnamed: 5_level_0  \
                   Pos              Squad                Age
0                MF,FW       Leeds United                 21
1                   MF          Tottenham                 16
2                   FW        Southampton                 26
3                   MF       Leeds United                 23
4                   DF             Fulham                 24
..                 ...                ...                ...
586                 DF        Bournemouth                 22
587                 DF            Arsenal                 25
588              FW,MF            Chelsea                 29
589                 DF           West Ham                 27
590                 MF            Arsenal                 23

    Unnamed: 6_level_0 Playing Time               ... Per 90 Minutes        \
                  Born           MP Starts   Min  ...            Ast   G+A
0                 2000           36     28  2372  ...           0.11  0.15
1                 2005            1      0     1  ...           0.00  0.00
2                 1996           28     23  1992  ...           0.14  0.36
3                 1999           24     24  2156  ...           0.00  0.00
4                 1997           25     23  2085  ...           0.00  0.04
..                 ...          ...    ...   ...  ...            ...   ...
586               1999           19     17  1454  ...           0.06  0.06
587               1996           27     26  2118  ...           0.08  0.13
588               1993           18      6   661  ...           0.41  0.41
589               1994           25     24  1989  ...           0.00  0.09
590               1998           37     37  3127  ...           0.20  0.63

                                                   Unnamed: 36_level_0
     G-PK G+A-PK    xG   xAG xG+xAG  npxG npxG+xAG             Matches
0    0.04   0.15  0.15  0.16   0.31  0.15     0.31             Matches
1    0.00   0.00  0.00  0.00   0.00  0.00     0.00             Matches
2    0.23   0.36  0.30  0.13   0.42  0.30     0.42             Matches
3    0.00   0.00  0.00  0.06   0.06  0.00     0.06             Matches
4    0.04   0.04  0.03  0.02   0.05  0.03     0.05             Matches
..    ...    ...   ...   ...    ...   ...      ...                 ...
586  0.00   0.06  0.02  0.11   0.14  0.02     0.14             Matches
587  0.04   0.13  0.06  0.06   0.12  0.06     0.12             Matches
588  0.00   0.41  0.08  0.30   0.38  0.08     0.38             Matches
589  0.09   0.09  0.10  0.00   0.10  0.10     0.10             Matches
590  0.43   0.63  0.29  0.23   0.52  0.29     0.52             Matches

[591 rows x 37 columns]

PREMIER LEAGUE - 2021-2022 Season:
---------------------------
    Unnamed: 0_level_0    Unnamed: 1_level_0 Unnamed: 2_level_0  \
                    Rk                Player             Nation
0                    1            Max Aarons            eng ENG
1                    2             Che Adams            sct SCO
2                    3       Rayan Aït-Nouri             dz ALG
3                    4       Kristoffer Ajer             no NOR
4                    5            Nathan Aké             nl NED
..                 ...                   ...                ...
562                542  Christoph Zimmermann             de GER
563                543   Oleksandr Zinchenko             ua UKR
564                544          Hakim Ziyech             ma MAR
565                545            Kurt Zouma             fr FRA
566                546       Martin Ødegaard             no NOR

    Unnamed: 3_level_0 Unnamed: 4_level_0 Unnamed: 5_level_0  \
                   Pos              Squad                Age
0                   DF       Norwich City                 21
1                   FW        Southampton                 25
2                DF,MF             Wolves                 20
3                   DF          Brentford                 23
4                   DF    Manchester City                 26
..                 ...                ...                ...
562                 DF       Norwich City                 28
563                 DF    Manchester City                 24
564              MF,FW            Chelsea                 28
565                 DF           West Ham                 26
566              MF,FW            Arsenal                 22

    Unnamed: 6_level_0 Playing Time               ... Per 90 Minutes        \
                  Born           MP Starts   Min  ...            Ast   G+A
0                 2000           34     32  2881  ...           0.06  0.06
1                 1996           30     23  2039  ...           0.13  0.44
2                 2001           23     20  1828  ...           0.10  0.15
3                 1998           24     23  1995  ...           0.14  0.18
4                 1995           14     10   923  ...           0.00  0.20
..                 ...          ...    ...   ...  ...            ...   ...
562               1993            3      2   157  ...           0.00  0.00
563               1996           15     10  1047  ...           0.34  0.34
564               1993           23     14  1319  ...           0.20  0.48
565               1994           24     24  2078  ...           0.00  0.04
566               1998           36     32  2785  ...           0.13  0.36

                                                   Unnamed: 36_level_0
     G-PK G+A-PK    xG   xAG xG+xAG  npxG npxG+xAG             Matches
0    0.00   0.06  0.03  0.05   0.08  0.03     0.08             Matches
1    0.31   0.44  0.31  0.13   0.45  0.31     0.45             Matches
2    0.05   0.15  0.03  0.08   0.11  0.03     0.11             Matches
3    0.05   0.18  0.04  0.08   0.11  0.04     0.11             Matches
4    0.20   0.20  0.07  0.06   0.12  0.07     0.12             Matches
..    ...    ...   ...   ...    ...   ...      ...                 ...
562  0.00   0.00  0.03  0.00   0.03  0.03     0.03             Matches
563  0.00   0.34  0.04  0.23   0.27  0.04     0.27             Matches
564  0.27   0.48  0.23  0.20   0.43  0.23     0.43             Matches
565  0.04   0.04  0.05  0.00   0.05  0.05     0.05             Matches
566  0.23   0.36  0.15  0.20   0.36  0.15     0.36             Matches

[567 rows x 37 columns]

PREMIER LEAGUE - 2020-2021 Season:
---------------------------
    Unnamed: 0_level_0   Unnamed: 1_level_0 Unnamed: 2_level_0  \
                    Rk               Player             Nation
0                    1  Patrick van Aanholt             nl NED
1                    2        Tammy Abraham            eng ENG
2                    3            Che Adams            sct SCO
3                    4     Tosin Adarabioyo            eng ENG
4                    5               Adrián             es ESP
..                 ...                  ...                ...
548                528          Andi Zeqiri             ch SUI
549                529  Oleksandr Zinchenko             ua UKR
550                530         Hakim Ziyech             ma MAR
551                531           Kurt Zouma             fr FRA
552                532      Martin Ødegaard             no NOR

    Unnamed: 3_level_0 Unnamed: 4_level_0 Unnamed: 5_level_0  \
                   Pos              Squad                Age
0                   DF     Crystal Palace                 29
1                   FW            Chelsea                 22
2                   FW        Southampton                 24
3                   DF             Fulham                 22
4                   GK          Liverpool                 33
..                 ...                ...                ...
548              FW,DF           Brighton                 21
549                 DF    Manchester City                 23
550              MF,FW            Chelsea                 27
551                 DF            Chelsea                 25
552                 MF            Arsenal                 21

    Unnamed: 6_level_0 Playing Time               ... Per 90 Minutes        \
                  Born           MP Starts   Min  ...            Ast   G+A
0                 1990           22     20  1777  ...           0.05  0.05
1                 1997           22     12  1040  ...           0.09  0.61
2                 1996           36     30  2667  ...           0.17  0.47
3                 1997           33     33  2953  ...           0.00  0.00
4                 1987            3      3   270  ...           0.00  0.00
..                 ...          ...    ...   ...  ...            ...   ...
548               1999            9      0   171  ...           0.00  0.00
549               1996           20     15  1478  ...           0.00  0.00
550               1993           23     15  1172  ...           0.23  0.38
551               1994           24     22  2029  ...           0.00  0.22
552               1998           14      9   866  ...           0.21  0.31

                                                   Unnamed: 36_level_0
     G-PK G+A-PK    xG   xAG xG+xAG  npxG npxG+xAG             Matches
0    0.00   0.05  0.07  0.04   0.11  0.07     0.11             Matches
1    0.52   0.61  0.51  0.06   0.57  0.51     0.57             Matches
2    0.30   0.47  0.33  0.17   0.50  0.33     0.50             Matches
3    0.00   0.00  0.03  0.01   0.04  0.03     0.04             Matches
4    0.00   0.00  0.00  0.00   0.00  0.00     0.00             Matches
..    ...    ...   ...   ...    ...   ...      ...                 ...
548  0.00   0.00  0.38  0.04   0.42  0.38     0.42             Matches
549  0.00   0.00  0.04  0.06   0.10  0.04     0.10             Matches
550  0.15   0.38  0.14  0.28   0.42  0.14     0.42             Matches
551  0.22   0.22  0.09  0.00   0.09  0.09     0.09             Matches
552  0.10   0.31  0.08  0.21   0.29  0.08     0.29             Matches

[553 rows x 37 columns]

PREMIER LEAGUE - 2019-2020 Season:
---------------------------
    Unnamed: 0_level_0    Unnamed: 1_level_0 Unnamed: 2_level_0  \
                    Rk                Player             Nation
0                    1   Patrick van Aanholt             nl NED
1                    2            Max Aarons            eng ENG
2                    3         Tammy Abraham            eng ENG
3                    4             Che Adams            sct SCO
4                    5                Adrián             es ESP
..                 ...                   ...                ...
537                518         Wilfried Zaha             ci CIV
538                519  Christoph Zimmermann             de GER
539                520   Oleksandr Zinchenko             ua UKR
540                521     Richairo Živković             cw CUW
541                522            Kurt Zouma             fr FRA

    Unnamed: 3_level_0 Unnamed: 4_level_0 Unnamed: 5_level_0  \
                   Pos              Squad                Age
0                   DF     Crystal Palace                 28
1                   DF       Norwich City                 19
2                   FW            Chelsea                 21
3                   FW        Southampton                 23
4                   GK          Liverpool                 32
..                 ...                ...                ...
537              FW,MF     Crystal Palace                 26
538                 DF       Norwich City                 26
539                 DF    Manchester City                 22
540                 FW      Sheffield Utd                 22
541                 DF            Chelsea                 24

    Unnamed: 6_level_0 Playing Time               ... Per 90 Minutes        \
                  Born           MP Starts   Min  ...            Ast   G+A
0                 1990           29     29  2507  ...           0.07  0.18
1                 2000           36     36  3240  ...           0.03  0.03
2                 1997           34     25  2215  ...           0.12  0.73
3                 1996           30     12  1111  ...           0.16  0.49
4                 1987           11      9   875  ...           0.00  0.00
..                 ...          ...    ...   ...  ...            ...   ...
537               1992           38     37  3280  ...           0.08  0.19
538               1993           17     16  1430  ...           0.06  0.06
539               1996           19     13  1276  ...           0.00  0.00
540               1996            5      0   112  ...           0.00  0.00
541               1994           28     25  2344  ...           0.00  0.00

                                                   Unnamed: 36_level_0
     G-PK G+A-PK    xG   xAG xG+xAG  npxG npxG+xAG             Matches
0    0.07   0.14  0.08  0.13   0.21  0.05     0.18             Matches
1    0.00   0.03  0.02  0.11   0.12  0.02     0.12             Matches
2    0.61   0.73  0.67  0.11   0.77  0.67     0.77             Matches
3    0.32   0.49  0.43  0.14   0.57  0.43     0.57             Matches
4    0.00   0.00  0.00  0.00   0.00  0.00     0.00             Matches
..    ...    ...   ...   ...    ...   ...      ...                 ...
537  0.11   0.19  0.14  0.11   0.25  0.14     0.25             Matches
538  0.00   0.06  0.02  0.01   0.03  0.02     0.03             Matches
539  0.00   0.00  0.03  0.11   0.14  0.03     0.14             Matches
540  0.00   0.00  0.06  0.08   0.14  0.06     0.14             Matches
541  0.00   0.00  0.04  0.01   0.05  0.04     0.05             Matches

[542 rows x 37 columns]

PREMIER LEAGUE - 2018-2019 Season:
---------------------------
    Unnamed: 0_level_0          Unnamed: 1_level_0 Unnamed: 2_level_0  \
                    Rk                      Player             Nation
0                    1         Patrick van Aanholt             nl NED
1                    2               Sergio Agüero             ar ARG
2                    3                  Nathan Aké             nl NED
3                    4             Marc Albrighton            eng ENG
4                    5           Toby Alderweireld             be BEL
..                 ...                         ...                ...
523                504  Andre-Frank Zambo Anguissa             cm CMR
524                505           Davide Zappacosta             it ITA
525                506         Oleksandr Zinchenko             ua UKR
526                507              Kenneth Zohore             dk DEN
527                508                  Kurt Zouma             fr FRA

    Unnamed: 3_level_0 Unnamed: 4_level_0 Unnamed: 5_level_0  \
                   Pos              Squad                Age
0                   DF     Crystal Palace                 27
1                   FW    Manchester City                 30
2                   DF        Bournemouth                 23
3                FW,MF     Leicester City                 28
4                   DF          Tottenham                 29
..                 ...                ...                ...
523                 MF             Fulham                 22
524                 DF            Chelsea                 26
525                 DF    Manchester City                 21
526                 FW       Cardiff City                 24
527                 DF            Everton                 23

    Unnamed: 6_level_0 Playing Time               ... Per 90 Minutes        \

In [5]:
"""PULLING TEAM OF THE SEASON INFO"""
"""TARGET SEASONS: 2017-2018 - 2023-2024"""
from bs4 import BeautifulSoup
from io import StringIO


# Get URLS for TOTS info
url_tots_wiki_2020s = 'https://en.wikipedia.org/wiki/PFA_Team_of_the_Year_(2020s)'
url_tots_wiki_2010s = 'https://en.wikipedia.org/wiki/PFA_Team_of_the_Year_(2010s)'

tots_urls = [url_tots_wiki_2020s , url_tots_wiki_2010s]
tots_dfs = []

# Check URL
# print(url_tots_wiki_2020s)


for url in tots_urls:
    
    # Send an HTTP GET request to the URL
    temp_response = requests.get(url)
    
    if temp_response.status_code == 200:
        # Parse the HTML content
        soup = BeautifulSoup(temp_response.content, 'html.parser')
        
        # # Print the entire HTML content of the page
        # print(soup.prettify())
        
        # Find Where all the PL Headers are 
        h4_headers = soup.find_all('h4')
        
        
        # Check to see what tags are in
        # print(h4_headers)
        
        # Get PL Tags
        premier_league_tags = [tag for tag in h4_headers if 'Premier League' in tag.text]
        
        # Check to see PL tags/headers
        # print(premier_league_tags)
        
        # Print the filtered h4 tags
        # for tag in premier_league_tags:
        #     print(tag)
        
        
        for header in premier_league_tags:
            # Find the next sibling table tag
            table = header.find_next_sibling('table')
            
            # If a table is found, print it
            if table:
                # print('--------------------------_________________-------------_______________')
                # print(table)
                # print('--------------------------_________________-------------_______________')
                

                df = pd.read_html(StringIO(str(table)))[0]
                tots_dfs.append(df) 
    
    else:
        print("Failed to retrieve the page. Status code:", temp_response.status_code)


# Check DataFrames:
    # for tb in tots_dfs:
    #     print(tb)

In [6]:
"""MAPPING TABLES TO APROPRIATE YEAR IN DICTIONARY (year -> TOTS Table)"""

yr_totsNoms_dict = {
    '2019-2020' : tots_dfs[0] ,
    '2020-2021' : tots_dfs[1] ,
    '2021-2022' : tots_dfs[2] ,
    '2022-2023' : tots_dfs[3] , 
    '2017-2018' : tots_dfs[-2] , 
    '2018-2019' : tots_dfs[-1] , 
}

for key , val in yr_totsNoms_dict.items():
    print(f"PREMIER LEAGUE TOTS {key}: ")
    print("---------------------------")
    print(val , '\n')

PREMIER LEAGUE TOTS 2019-2020:
---------------------------
   Pos.                     Player             Club  App.
0    GK                  Nick Pope          Burnley     1
1    DF   Trent Alexander-Arnold †        Liverpool     2
2    DF          Virgil van Dijk †        Liverpool     2
3    DF             Çağlar Söyüncü   Leicester City     1
4    DF         Andrew Robertson †        Liverpool     2
5    MF          Kevin De Bruyne †  Manchester City     2
6    MF              David Silva †  Manchester City     3
7    MF           Jordan Henderson        Liverpool     1
8    FW              Jamie Vardy †   Leicester City     2
9    FW  Pierre-Emerick Aubameyang          Arsenal     1
10   FW               Sadio Mané †        Liverpool     3

PREMIER LEAGUE TOTS 2020-2021:
---------------------------
   Pos.             Player               Club  App.
0    GK          Ederson †    Manchester City     2
1    DF       João Cancelo    Manchester City     1
2    DF        John Stones    Manchester City     1
3    DF         Rúben Dias    Manchester City     1
4    DF        Luke Shaw †  Manchester United     2
5    MF  Kevin De Bruyne †    Manchester City     3
6    MF     İlkay Gündoğan    Manchester City     1
7    MF    Bruno Fernandes  Manchester United     1
8    FW       Harry Kane †  Tottenham Hotspur     5
9    FW    Mohamed Salah †          Liverpool     2
10   FW      Son Heung-min  Tottenham Hotspur     1

PREMIER LEAGUE TOTS 2021-2022:
---------------------------
   Pos.                    Player               Club  App.
0    GK                   Alisson          Liverpool     1
1    DF  Trent Alexander-Arnold †          Liverpool     3
2    DF         Virgil van Dijk †          Liverpool     3
3    DF           Antonio Rüdiger            Chelsea     1
4    DF            João Cancelo †    Manchester City     2
5    MF          Bernardo Silva †    Manchester City     2
6    MF                    Thiago          Liverpool     1
7    MF         Kevin De Bruyne †    Manchester City     4
8    FW              Sadio Mané †          Liverpool     4
9    FW       Cristiano Ronaldo †  Manchester United     5
10   FW           Mohamed Salah †          Liverpool     3

PREMIER LEAGUE TOTS 2022-2023:
---------------------------
   Pos.             Player               Club  App.
0    GK     Aaron Ramsdale            Arsenal     1
1    DF     William Saliba            Arsenal     1
2    DF       Rúben Dias †    Manchester City     2
3    DF      John Stones †    Manchester City     2
4    DF    Kieran Trippier   Newcastle United     1
5    MF    Martin Ødegaard            Arsenal     1
6    MF              Rodri    Manchester City     1
7    MF  Kevin De Bruyne †    Manchester City     5
8    FW       Harry Kane †  Tottenham Hotspur     6
9    FW     Erling Haaland    Manchester City     1
10   FW        Bukayo Saka            Arsenal     1

PREMIER LEAGUE TOTS 2017-2018:
---------------------------
   Pos.             Player               Club  App.
0    GK     David de Gea †  Manchester United     5
1    DF      Kyle Walker †    Manchester City     3
2    DF   Nicolás Otamendi    Manchester City     1
3    DF   Jan Vertonghen †  Tottenham Hotspur     2
4    DF      Marcos Alonso            Chelsea     1
5    MF      David Silva †    Manchester City     2
6    MF  Christian Eriksen  Tottenham Hotspur     1
7    MF    Kevin De Bruyne    Manchester City     1
8    FW      Mohamed Salah          Liverpool     1
9    FW       Harry Kane †  Tottenham Hotspur     4
10   FW      Sergio Agüero    Manchester City     1

PREMIER LEAGUE TOTS 2018-2019:
---------------------------
   Pos.                  Player               Club  App.
0    GK                 Ederson    Manchester City     1
1    DF  Trent Alexander-Arnold          Liverpool     1
2    DF         Virgil van Dijk          Liverpool     1
3    DF         Aymeric Laporte    Manchester City     1
4    DF        Andrew Robertson          Liverpool     1
5    MF          Bernardo Silva    Manchester City     1
6    MF             Fernandinho    Manchester City     1
7    MF              Paul Pogba  Manchester United     1
8    FW         Raheem Sterling    Manchester City     1
9    FW         Sergio Agüero †    Manchester City     2
10   FW            Sadio Mané †          Liverpool     2

## Data Preprocessing

Now we have the data for both individual player stats and TOTS, now we are going to combine by the information to link the stats a player earned in a given season to whether or not they got in the Team of the Year that season. To do this, I will start with one year's data and do any necessary preprocessing, like one hot encoding the teams, making sure the names can be match to the correct individuals, and adding/removing columns.

In [7]:
"""THIS IS TEST CODE - Actual code for combining DataFrames is below"""

# """MERGING DATA - Sample Run for 2022-2023 Season"""

# # for key, value in yr_playerStat_dict.items():
# #     print(key)
    
# # print('-----')
# # for key, value in yr_totsNoms_dict.items():
# #     print(key)
    

# # Data PreProcessing To Match Tables by column Name
# yr_totsNoms_dict['2022-2023']['Player'] = yr_totsNoms_dict['2022-2023']['Player'].apply(lambda x: re.sub(r'[^a-zA-Z\s]', '', x).strip())
# yr_totsNoms_dict['2022-2023'] = yr_totsNoms_dict['2022-2023'].rename(columns={'App.': 'Tots_Apps' , 'Pos.': 'Pos' , 'Club': 'Squad'})

# # Looking At 2022-2023 TOTS INFO:
# # yr_totsNoms_dict['2022-2023']

# # Looking at 2022-2023 Player Stats:
# # yr_playerStat_dict['2022-2023']

# # Drop Upper Level Layers
# yr_playerStat_dict['2022-2023'].columns = yr_playerStat_dict['2022-2023'].columns.droplevel([0])

# # Join tables, keep all of info from player stats , join on Player name and squad
# merged_df_2022_2023 = pd.merge(yr_playerStat_dict['2022-2023'], yr_totsNoms_dict['2022-2023'], on=['Player', 'Squad'], how='left')


# #Fix Pos_x 
# merged_df_2022_2023['Pos'] = merged_df_2022_2023['Pos_x'].str.split(',').str[0]
        

# # If Tots_Apps = NaN
#     # Make that = 0
# # merged_df_2022_2023['Tots_Apps'].fillna(0, inplace=True)
# merged_df_2022_2023['Tots_Apps'] = merged_df_2022_2023['Tots_Apps'].fillna(0)


    
# # Nation 
#     # Use the ALL CAPS Countries
# merged_df_2022_2023['Nation'] = merged_df_2022_2023['Nation'].str.split().str[-1]

# # Drop Matches, Rk , Extra Pos's
# merged_df_2022_2023 = merged_df_2022_2023.drop(columns=['Rk', 'Matches' , 'Pos_x' , 'Pos_y' ])


# # for index, row in merged_df_2022_2023.iterrows():
# #     if row['Tots_Apps'] > 0: 
# #         print(row)
        
# merged_df_2022_2023

'THIS IS TEST CODE - Actual code for combining DataFrames is below'

In [8]:
list_seasons = ['2017-2018' , '2018-2019' , '2019-2020' , '2020-2021', '2021-2022' , '2022-2023'] # Exclude current Season

# All DataFrames Stored
merged_dataframes = []

for szn in list_seasons:
    tmp_tots_stats = yr_totsNoms_dict[szn]
    tmp_plyr_stats = yr_playerStat_dict[szn]
    
    # Strip Player name to get rid of special chars
    tmp_tots_stats['Player'] = tmp_tots_stats['Player'].apply(lambda x: re.sub(r'[^a-zA-Z\s]', '', x).strip())
    
    # Updating Names for TOTS Nominees Table to match Player Stats DF
    tmp_tots_stats = tmp_tots_stats.rename(columns={'App.': 'Tots_Apps' , 'Pos.': 'Pos' , 'Club': 'Squad'})
    
    # Drop Upper Level Layers
    tmp_plyr_stats.columns = tmp_plyr_stats.columns.droplevel([0])
    
    # Merge the DataFrames
    # Join tables, keep all of info from player stats , join on Player name and squad
    tmp_df_merged = pd.merge(tmp_plyr_stats, tmp_tots_stats, on=['Player', 'Squad'], how='left')
    
    #Fix Pos_x 
    tmp_df_merged['Pos'] = tmp_df_merged['Pos_x'].str.split(',').str[0]
    
    # If Tots_Apps = NaN
    # Make that = 0
    tmp_df_merged['Tots_Apps'] = tmp_df_merged['Tots_Apps'].fillna(0)
    
    # Nation 
    # Use the ALL CAPS Countries
    tmp_df_merged['Nation'] = tmp_df_merged['Nation'].str.split().str[-1]
    
    # Drop Matches, Rk , Extra Pos's
    tmp_df_merged = tmp_df_merged.drop(columns=['Rk', 'Matches' , 'Pos_x' , 'Pos_y' ])
    
    merged_dataframes.append(tmp_df_merged)

In [9]:
print(len(merged_dataframes))

6

### Checking DataFrames

In [10]:
"""2017-2018"""
merged_dataframes[0]

,Player,Nation,Squad,Age,Born,MP,Starts,Min,90s,Gls,...,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG,Tots_Apps,Pos
0,Patrick van Aanholt,NED,Crystal Palace,26,1990,28,25,2184,24.3,5,...,0.25,0.21,0.25,0.13,0.09,0.21,0.13,0.21,0.0,DF
1,Rolando Aarons,ENG,Newcastle Utd,21,1995,4,1,139,1.5,0,...,0.00,0.00,0.00,0.04,0.00,0.04,0.04,0.04,0.0,MF
2,Tammy Abraham,ENG,Swansea City,19,1997,31,15,1726,19.2,5,...,0.31,0.26,0.31,0.35,0.08,0.44,0.35,0.44,0.0,FW
3,Charlie Adam,SCO,Stoke City,31,1985,11,5,411,4.6,0,...,0.00,0.00,0.00,0.36,0.27,0.63,0.19,0.46,0.0,MF
4,Adrián,ESP,West Ham,30,1987,19,19,1710,19.0,0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,GK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
545,Player,Nation,Squad,Age,Born,MP,Starts,Min,90s,Gls,...,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG,0.0,Pos
546,Davide Zappacosta,ITA,Chelsea,25,1992,22,12,1098,12.2,1,...,0.16,0.08,0.16,0.11,0.11,0.22,0.11,0.22,0.0,DF
547,Marvin Zeegelaar,NED,Watford,26,1990,12,12,994,11.0,0,...,0.09,0.00,0.09,0.00,0.09,0.09,0.00,0.09,0.0,DF
548,Oleksandr Zinchenko,UKR,Manchester City,20,1996,8,6,532,5.9,0,...,0.00,0.00,0.00,0.02,0.07,0.09,0.02,0.09,0.0,DF
549,Kurt Zouma,FRA,Stoke City,22,1994,34,32,2888,32.1,1,...,0.03,0.03,0.03,0.04,0.01,0.05,0.04,0.05,0.0,DF

In [11]:
"""2018-2019"""
merged_dataframes[1]

,Player,Nation,Squad,Age,Born,MP,Starts,Min,90s,Gls,...,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG,Tots_Apps,Pos
0,Patrick van Aanholt,NED,Crystal Palace,27,1990,36,36,3195,35.5,3,...,0.14,0.08,0.14,0.07,0.12,0.20,0.07,0.20,0.0,DF
1,Sergio Agüero,ARG,Manchester City,30,1988,33,31,2459,27.3,21,...,1.06,0.70,0.99,0.66,0.18,0.85,0.60,0.79,0.0,FW
2,Nathan Aké,NED,Bournemouth,23,1995,38,38,3411,37.9,4,...,0.11,0.11,0.11,0.09,0.03,0.11,0.09,0.11,0.0,DF
3,Marc Albrighton,ENG,Leicester City,28,1989,27,18,1625,18.1,2,...,0.22,0.11,0.22,0.07,0.16,0.23,0.07,0.23,0.0,FW
4,Toby Alderweireld,BEL,Tottenham,29,1989,34,33,2922,32.5,0,...,0.00,0.00,0.00,0.03,0.02,0.05,0.03,0.05,0.0,DF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523,Andre-Frank Zambo Anguissa,CMR,Fulham,22,1995,22,16,1517,16.9,0,...,0.00,0.00,0.00,0.05,0.01,0.06,0.05,0.06,0.0,MF
524,Davide Zappacosta,ITA,Chelsea,26,1992,4,1,128,1.4,0,...,0.00,0.00,0.00,0.06,0.09,0.15,0.06,0.15,0.0,DF
525,Oleksandr Zinchenko,UKR,Manchester City,21,1996,14,14,1151,12.8,0,...,0.23,0.00,0.23,0.01,0.12,0.13,0.01,0.13,0.0,DF
526,Kenneth Zohore,DEN,Cardiff City,24,1994,19,7,753,8.4,1,...,0.24,0.12,0.24,0.20,0.13,0.33,0.20,0.33,0.0,FW
527,Kurt Zouma,FRA,Everton,23,1994,32,29,2612,29.0,2,...,0.14,0.07,0.14,0.05,0.01,0.06,0.05,0.06,0.0,DF

In [12]:
"""2019-2020"""
merged_dataframes[2]

,Player,Nation,Squad,Age,Born,MP,Starts,Min,90s,Gls,...,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG,Tots_Apps,Pos
0,Patrick van Aanholt,NED,Crystal Palace,28,1990,29,29,2507,27.9,3,...,0.18,0.07,0.14,0.08,0.13,0.21,0.05,0.18,0.0,DF
1,Max Aarons,ENG,Norwich City,19,2000,36,36,3240,36.0,0,...,0.03,0.00,0.03,0.02,0.11,0.12,0.02,0.12,0.0,DF
2,Tammy Abraham,ENG,Chelsea,21,1997,34,25,2215,24.6,15,...,0.73,0.61,0.73,0.67,0.11,0.77,0.67,0.77,0.0,FW
3,Che Adams,SCO,Southampton,23,1996,30,12,1111,12.3,4,...,0.49,0.32,0.49,0.43,0.14,0.57,0.43,0.57,0.0,FW
4,Adrián,ESP,Liverpool,32,1987,11,9,875,9.7,0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,GK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
537,Wilfried Zaha,CIV,Crystal Palace,26,1992,38,37,3280,36.4,4,...,0.19,0.11,0.19,0.14,0.11,0.25,0.14,0.25,0.0,FW
538,Christoph Zimmermann,GER,Norwich City,26,1993,17,16,1430,15.9,0,...,0.06,0.00,0.06,0.02,0.01,0.03,0.02,0.03,0.0,DF
539,Oleksandr Zinchenko,UKR,Manchester City,22,1996,19,13,1276,14.2,0,...,0.00,0.00,0.00,0.03,0.11,0.14,0.03,0.14,0.0,DF
540,Richairo Živković,CUW,Sheffield Utd,22,1996,5,0,112,1.2,0,...,0.00,0.00,0.00,0.06,0.08,0.14,0.06,0.14,0.0,FW
541,Kurt Zouma,FRA,Chelsea,24,1994,28,25,2344,26.0,0,...,0.00,0.00,0.00,0.04,0.01,0.05,0.04,0.05,0.0,DF

In [13]:
"""2020-2021"""
merged_dataframes[3]

,Player,Nation,Squad,Age,Born,MP,Starts,Min,90s,Gls,...,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG,Tots_Apps,Pos
0,Patrick van Aanholt,NED,Crystal Palace,29,1990,22,20,1777,19.7,0,...,0.05,0.00,0.05,0.07,0.04,0.11,0.07,0.11,0.0,DF
1,Tammy Abraham,ENG,Chelsea,22,1997,22,12,1040,11.6,6,...,0.61,0.52,0.61,0.51,0.06,0.57,0.51,0.57,0.0,FW
2,Che Adams,SCO,Southampton,24,1996,36,30,2667,29.6,9,...,0.47,0.30,0.47,0.33,0.17,0.50,0.33,0.50,0.0,FW
3,Tosin Adarabioyo,ENG,Fulham,22,1997,33,33,2953,32.8,0,...,0.00,0.00,0.00,0.03,0.01,0.04,0.03,0.04,0.0,DF
4,Adrián,ESP,Liverpool,33,1987,3,3,270,3.0,0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,GK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
548,Andi Zeqiri,SUI,Brighton,21,1999,9,0,171,1.9,0,...,0.00,0.00,0.00,0.38,0.04,0.42,0.38,0.42,0.0,FW
549,Oleksandr Zinchenko,UKR,Manchester City,23,1996,20,15,1478,16.4,0,...,0.00,0.00,0.00,0.04,0.06,0.10,0.04,0.10,0.0,DF
550,Hakim Ziyech,MAR,Chelsea,27,1993,23,15,1172,13.0,2,...,0.38,0.15,0.38,0.14,0.28,0.42,0.14,0.42,0.0,MF
551,Kurt Zouma,FRA,Chelsea,25,1994,24,22,2029,22.5,5,...,0.22,0.22,0.22,0.09,0.00,0.09,0.09,0.09,0.0,DF
552,Martin Ødegaard,NOR,Arsenal,21,1998,14,9,866,9.6,1,...,0.31,0.10,0.31,0.08,0.21,0.29,0.08,0.29,0.0,MF

In [14]:
"""2021-2022"""
merged_dataframes[4]

,Player,Nation,Squad,Age,Born,MP,Starts,Min,90s,Gls,...,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG,Tots_Apps,Pos
0,Max Aarons,ENG,Norwich City,21,2000,34,32,2881,32.0,0,...,0.06,0.00,0.06,0.03,0.05,0.08,0.03,0.08,0.0,DF
1,Che Adams,SCO,Southampton,25,1996,30,23,2039,22.7,7,...,0.44,0.31,0.44,0.31,0.13,0.45,0.31,0.45,0.0,FW
2,Rayan Aït-Nouri,ALG,Wolves,20,2001,23,20,1828,20.3,1,...,0.15,0.05,0.15,0.03,0.08,0.11,0.03,0.11,0.0,DF
3,Kristoffer Ajer,NOR,Brentford,23,1998,24,23,1995,22.2,1,...,0.18,0.05,0.18,0.04,0.08,0.11,0.04,0.11,0.0,DF
4,Nathan Aké,NED,Manchester City,26,1995,14,10,923,10.3,2,...,0.20,0.20,0.20,0.07,0.06,0.12,0.07,0.12,0.0,DF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
562,Christoph Zimmermann,GER,Norwich City,28,1993,3,2,157,1.7,0,...,0.00,0.00,0.00,0.03,0.00,0.03,0.03,0.03,0.0,DF
563,Oleksandr Zinchenko,UKR,Manchester City,24,1996,15,10,1047,11.6,0,...,0.34,0.00,0.34,0.04,0.23,0.27,0.04,0.27,0.0,DF
564,Hakim Ziyech,MAR,Chelsea,28,1993,23,14,1319,14.7,4,...,0.48,0.27,0.48,0.23,0.20,0.43,0.23,0.43,0.0,MF
565,Kurt Zouma,FRA,West Ham,26,1994,24,24,2078,23.1,1,...,0.04,0.04,0.04,0.05,0.00,0.05,0.05,0.05,0.0,DF
566,Martin Ødegaard,NOR,Arsenal,22,1998,36,32,2785,30.9,7,...,0.36,0.23,0.36,0.15,0.20,0.36,0.15,0.36,0.0,MF

In [15]:
"""2022-2023"""
merged_dataframes[5]

,Player,Nation,Squad,Age,Born,MP,Starts,Min,90s,Gls,...,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG,Tots_Apps,Pos
0,Brenden Aaronson,USA,Leeds United,21,2000,36,28,2372,26.4,1,...,0.15,0.04,0.15,0.15,0.16,0.31,0.15,0.31,0.0,MF
1,George Abbott,ENG,Tottenham,16,2005,1,0,1,0.0,0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,MF
2,Che Adams,SCO,Southampton,26,1996,28,23,1992,22.1,5,...,0.36,0.23,0.36,0.30,0.13,0.42,0.30,0.42,0.0,FW
3,Tyler Adams,USA,Leeds United,23,1999,24,24,2156,24.0,0,...,0.00,0.00,0.00,0.00,0.06,0.06,0.00,0.06,0.0,MF
4,Tosin Adarabioyo,ENG,Fulham,24,1997,25,23,2085,23.2,1,...,0.04,0.04,0.04,0.03,0.02,0.05,0.03,0.05,0.0,DF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
586,Jordan Zemura,ZIM,Bournemouth,22,1999,19,17,1454,16.2,0,...,0.06,0.00,0.06,0.02,0.11,0.14,0.02,0.14,0.0,DF
587,Oleksandr Zinchenko,UKR,Arsenal,25,1996,27,26,2118,23.5,1,...,0.13,0.04,0.13,0.06,0.06,0.12,0.06,0.12,0.0,DF
588,Hakim Ziyech,MAR,Chelsea,29,1993,18,6,661,7.3,0,...,0.41,0.00,0.41,0.08,0.30,0.38,0.08,0.38,0.0,FW
589,Kurt Zouma,FRA,West Ham,27,1994,25,24,1989,22.1,2,...,0.09,0.09,0.09,0.10,0.00,0.10,0.10,0.10,0.0,DF
590,Martin Ødegaard,NOR,Arsenal,23,1998,37,37,3127,34.7,15,...,0.63,0.43,0.63,0.29,0.23,0.52,0.29,0.52,0.0,MF

In [16]:
"""In these tests, I noticed that because the tables are split, we have some rows that are the header lines so I am going to loop through the dataframes and find any rows that have the 'Player' 
column as "player" and I will get rid of them"""

for mdf in merged_dataframes: mdf.drop(mdf[mdf['Player'] == 'Player'].index, inplace=True)

## Understanding the data:

In [18]:
merged_dataframes[0].info()

<class 'pandas.core.frame.DataFrame'>
Index: 529 entries, 0 to 549
Data columns (total 36 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Player     529 non-null    object
 1   Nation     529 non-null    object
 2   Squad      529 non-null    object
 3   Age        529 non-null    object
 4   Born       529 non-null    object
 5   MP         529 non-null    object
 6   Starts     529 non-null    object
 7   Min        529 non-null    object
 8   90s        529 non-null    object
 9   Gls        529 non-null    object
 10  Ast        529 non-null    object
 11  G+A        529 non-null    object
 12  G-PK       529 non-null    object
 13  PK         529 non-null    object
 14  PKatt      529 non-null    object
 15  CrdY       529 non-null    object
 16  CrdR       529 non-null    object
 17  xG         528 non-null    object
 18  npxG       528 non-null    object
 19  xAG        528 non-null    object
 20  npxG+xAG   528 non-null    object
 21  PrgC       528 non-null    object
 22  PrgP       528 non-null    object
 23  PrgR       528 non-null    object
 24  Gls        529 non-null    object
 25  Ast        529 non-null    object
 26  G+A        529 non-null    object
 27  G-PK       529 non-null    object
 28  G+A-PK     529 non-null    object
 29  xG         527 non-null    object
 30  xAG        527 non-null    object
 31  xG+xAG     527 non-null    object
 32  npxG       527 non-null    object
 33  npxG+xAG   527 non-null    object
 34  Tots_Apps  529 non-null    float64
 35  Pos        529 non-null    object
dtypes: float64(1), object(35)
memory usage: 152.9+ KB

In [19]:
merged_dataframes[0].head()

,Player,Nation,Squad,Age,Born,MP,Starts,Min,90s,Gls,...,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG,Tots_Apps,Pos
0,Patrick van Aanholt,NED,Crystal Palace,26,1990,28,25,2184,24.3,5,...,0.25,0.21,0.25,0.13,0.09,0.21,0.13,0.21,0.0,DF
1,Rolando Aarons,ENG,Newcastle Utd,21,1995,4,1,139,1.5,0,...,0.00,0.00,0.00,0.04,0.00,0.04,0.04,0.04,0.0,MF
2,Tammy Abraham,ENG,Swansea City,19,1997,31,15,1726,19.2,5,...,0.31,0.26,0.31,0.35,0.08,0.44,0.35,0.44,0.0,FW
3,Charlie Adam,SCO,Stoke City,31,1985,11,5,411,4.6,0,...,0.00,0.00,0.00,0.36,0.27,0.63,0.19,0.46,0.0,MF
4,Adrián,ESP,West Ham,30,1987,19,19,1710,19.0,0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,GK

In [20]:
merged_dataframes[0].tail()

,Player,Nation,Squad,Age,Born,MP,Starts,Min,90s,Gls,...,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG,Tots_Apps,Pos
544,Wilfried Zaha,CIV,Crystal Palace,24,1992,29,28,2549,28.3,9,...,0.42,0.32,0.42,0.33,0.17,0.49,0.33,0.49,0.0,FW
546,Davide Zappacosta,ITA,Chelsea,25,1992,22,12,1098,12.2,1,...,0.16,0.08,0.16,0.11,0.11,0.22,0.11,0.22,0.0,DF
547,Marvin Zeegelaar,NED,Watford,26,1990,12,12,994,11.0,0,...,0.09,0.00,0.09,0.00,0.09,0.09,0.00,0.09,0.0,DF
548,Oleksandr Zinchenko,UKR,Manchester City,20,1996,8,6,532,5.9,0,...,0.00,0.00,0.00,0.02,0.07,0.09,0.02,0.09,0.0,DF
549,Kurt Zouma,FRA,Stoke City,22,1994,34,32,2888,32.1,1,...,0.03,0.03,0.03,0.04,0.01,0.05,0.04,0.05,0.0,DF

Now I that we see what is in the data, we have to start defining the search problem and how we want to set up the data. 

The goal of this data is to see if we can use a player's season data to see if we can determine if a person will make the Team of the Season (TOTS). This model will be trained on information from previous seasons where we know who is in the TOTS. Ideally, we will use this to create a prediction model that allows a user to put in information like Goals, Assists, Minutes Played, Games Played, Squad, Age, Position, Nation, Starts, and average xG + xA per 90 (among others). The users will be able to get this up to date info from the FBREF website. 

For this data we have right now, we have two ways to look at the problem: First, we can make a model that does predictions on each individual DataFrame by season. The other option is to put all the data frames together and see if there is consistent levels of stats that lead to a player being nominated to the TOTS. There is some preprocessing that needs to be done, but that will be done in the actual modeling file.