This Jupyter NB has all of the data preprocessing and modeling for the Team of the Season Predictor. In the Notebook, I will go through data preprocessing, various ML arcitectures that might work for this Classification problem, stastical comparisons between the models, and a final conclusion on what model I will use and why I chose it. Some more insight into the data can be found in WebScrape Juptyer NB found in the Practice folder.

# Data Preprocessing

The first part of this code is from `Webscrape.ipynb`in the Practice folder.

In [1]:
"""IMPORTS"""
# Data Preprocessing
import pandas as pd


# Web Scraping
import requests
from bs4 import BeautifulSoup
from io import StringIO
import re

In [2]:
""" WEBSCRAPING PLAYER STATS """

# Player Stats from FBREF
url_2023_2024 = 'https://fbref.com/en/comps/9/stats/Premier-League-Stats'
url_2022_2023 = 'https://fbref.com/en/comps/9/2022-2023/stats/2022-2023-Premier-League-Stats'
url_2021_2022 = 'https://fbref.com/en/comps/9/2021-2022/stats/2021-2022-Premier-League-Stats'
url_2020_2021 = 'https://fbref.com/en/comps/9/2020-2021/stats/2020-2021-Premier-League-Stats'
url_2019_2020 = 'https://fbref.com/en/comps/9/2019-2020/stats/2019-2020-Premier-League-Stats'
url_2018_2019 = 'https://fbref.com/en/comps/9/2018-2019/stats/2018-2019-Premier-League-Stats'
url_2017_2018 = 'https://fbref.com/en/comps/9/2017-2018/stats/2017-2018-Premier-League-Stats'

urls = [ url_2023_2024 , url_2022_2023 , url_2021_2022 , url_2020_2021 , url_2019_2020, url_2018_2019, url_2017_2018]
player_stat_dfs = []


for link in urls:
    print(link)
    temp = pd.read_html(
        requests.get(link).text.replace('<!--','').replace('-->','')
        ,attrs={'id':'stats_standard'}
    )[0]
    
    # temp = pd.read_html(
    #     requests.get(link).text ,  attrs={'id':'stats_standard'}
    # )[0]
    
    temp_data = pd.DataFrame(temp)
    
    player_stat_dfs.append(temp_data)
    


"""PULLING TEAM OF THE SEASON INFO"""
"""TARGET SEASONS: 2017-2018 - 2023-2024"""


# Get URLS for TOTS info
url_tots_wiki_2020s = 'https://en.wikipedia.org/wiki/PFA_Team_of_the_Year_(2020s)'
url_tots_wiki_2010s = 'https://en.wikipedia.org/wiki/PFA_Team_of_the_Year_(2010s)'

tots_urls = [url_tots_wiki_2020s , url_tots_wiki_2010s]
tots_dfs = []

for url in tots_urls:
    
    # Send an HTTP GET request to the URL
    temp_response = requests.get(url)
    
    if temp_response.status_code == 200:
        # Parse the HTML content
        soup = BeautifulSoup(temp_response.content, 'html.parser')
        
        # Find Where all the PL Headers are 
        h4_headers = soup.find_all('h4')
        
        # Get PL Tags
        premier_league_tags = [tag for tag in h4_headers if 'Premier League' in tag.text]
        
        
        
        for header in premier_league_tags:
            # Find the next sibling table tag
            table = header.find_next_sibling('table')
            
            # If a table is found, print it
            if table:
                df = pd.read_html(StringIO(str(table)))[0]
                tots_dfs.append(df) 
    
    else:
        print("Failed to retrieve the page. Status code:", temp_response.status_code)

https://fbref.com/en/comps/9/stats/Premier-League-Stats

/var/folders/_x/czhgmpkn0lx4yd57n3w9bwv00000gn/T/ipykernel_3875/1914494615.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  temp = pd.read_html(

https://fbref.com/en/comps/9/2022-2023/stats/2022-2023-Premier-League-Stats

/var/folders/_x/czhgmpkn0lx4yd57n3w9bwv00000gn/T/ipykernel_3875/1914494615.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  temp = pd.read_html(

https://fbref.com/en/comps/9/2021-2022/stats/2021-2022-Premier-League-Stats

/var/folders/_x/czhgmpkn0lx4yd57n3w9bwv00000gn/T/ipykernel_3875/1914494615.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  temp = pd.read_html(

https://fbref.com/en/comps/9/2020-2021/stats/2020-2021-Premier-League-Stats

/var/folders/_x/czhgmpkn0lx4yd57n3w9bwv00000gn/T/ipykernel_3875/1914494615.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  temp = pd.read_html(

https://fbref.com/en/comps/9/2019-2020/stats/2019-2020-Premier-League-Stats

/var/folders/_x/czhgmpkn0lx4yd57n3w9bwv00000gn/T/ipykernel_3875/1914494615.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  temp = pd.read_html(

https://fbref.com/en/comps/9/2018-2019/stats/2018-2019-Premier-League-Stats

/var/folders/_x/czhgmpkn0lx4yd57n3w9bwv00000gn/T/ipykernel_3875/1914494615.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  temp = pd.read_html(

https://fbref.com/en/comps/9/2017-2018/stats/2017-2018-Premier-League-Stats

/var/folders/_x/czhgmpkn0lx4yd57n3w9bwv00000gn/T/ipykernel_3875/1914494615.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  temp = pd.read_html(

In [3]:
"""PUT TABLES INTO DICTIONARY BY YEAR"""

yr_playerStat_dict = {
    '2023-2024' : player_stat_dfs[0],
    '2022-2023' : player_stat_dfs[1],
    '2021-2022' : player_stat_dfs[2],
    '2020-2021' : player_stat_dfs[3],
    '2019-2020' : player_stat_dfs[4],
    '2018-2019' : player_stat_dfs[5],
    '2017-2018' : player_stat_dfs[6]
}

"""MAPPING TABLES TO APROPRIATE YEAR IN DICTIONARY (year -> TOTS Table)"""

yr_totsNoms_dict = {
    '2019-2020' : tots_dfs[0] ,
    '2020-2021' : tots_dfs[1] ,
    '2021-2022' : tots_dfs[2] ,
    '2022-2023' : tots_dfs[3] , 
    '2017-2018' : tots_dfs[-2] , 
    '2018-2019' : tots_dfs[-1] , 
}

In [4]:
list_seasons = ['2017-2018' , '2018-2019' , '2019-2020' , '2020-2021', '2021-2022' , '2022-2023'] # Exclude current Season

# All DataFrames Stored
merged_dataframes = []

for szn in list_seasons:
    tmp_tots_stats = yr_totsNoms_dict[szn]
    tmp_plyr_stats = yr_playerStat_dict[szn]
    
    # Strip Player name to get rid of special chars
    tmp_tots_stats['Player'] = tmp_tots_stats['Player'].apply(lambda x: re.sub(r'[^a-zA-Z\s]', '', x).strip())
    
    # Updating Names for TOTS Nominees Table to match Player Stats DF
    tmp_tots_stats = tmp_tots_stats.rename(columns={'App.': 'Tots_Apps' , 'Pos.': 'Pos' , 'Club': 'Squad'})
    
    # Drop Upper Level Layers
    tmp_plyr_stats.columns = tmp_plyr_stats.columns.droplevel([0])
    
    # Merge the DataFrames
    # Join tables, keep all of info from player stats , join on Player name and squad
    tmp_df_merged = pd.merge(tmp_plyr_stats, tmp_tots_stats, on=['Player', 'Squad'], how='left')
    
    #Fix Pos_x 
    tmp_df_merged['Pos'] = tmp_df_merged['Pos_x'].str.split(',').str[0]
    
    # If Tots_Apps = NaN
    # Make that = 0
    tmp_df_merged['Tots_Apps'] = tmp_df_merged['Tots_Apps'].fillna(0)
    
    # Nation 
    # Use the ALL CAPS Countries
    tmp_df_merged['Nation'] = tmp_df_merged['Nation'].str.split().str[-1]
    
    # Drop Matches, Rk , Extra Pos's
    tmp_df_merged = tmp_df_merged.drop(columns=['Rk', 'Matches' , 'Pos_x' , 'Pos_y' ])
    
    merged_dataframes.append(tmp_df_merged)
    
    
for mdf in merged_dataframes: mdf.drop(mdf[mdf['Player'] == 'Player'].index, inplace=True)

In [5]:
print(len(merged_dataframes))
merged_dataframes[0]

6

,Player,Nation,Squad,Age,Born,MP,Starts,Min,90s,Gls,...,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG,Tots_Apps,Pos
0,Patrick van Aanholt,NED,Crystal Palace,26,1990,28,25,2184,24.3,5,...,0.25,0.21,0.25,0.13,0.09,0.21,0.13,0.21,0.0,DF
1,Rolando Aarons,ENG,Newcastle Utd,21,1995,4,1,139,1.5,0,...,0.00,0.00,0.00,0.04,0.00,0.04,0.04,0.04,0.0,MF
2,Tammy Abraham,ENG,Swansea City,19,1997,31,15,1726,19.2,5,...,0.31,0.26,0.31,0.35,0.08,0.44,0.35,0.44,0.0,FW
3,Charlie Adam,SCO,Stoke City,31,1985,11,5,411,4.6,0,...,0.00,0.00,0.00,0.36,0.27,0.63,0.19,0.46,0.0,MF
4,Adrián,ESP,West Ham,30,1987,19,19,1710,19.0,0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,GK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
544,Wilfried Zaha,CIV,Crystal Palace,24,1992,29,28,2549,28.3,9,...,0.42,0.32,0.42,0.33,0.17,0.49,0.33,0.49,0.0,FW
546,Davide Zappacosta,ITA,Chelsea,25,1992,22,12,1098,12.2,1,...,0.16,0.08,0.16,0.11,0.11,0.22,0.11,0.22,0.0,DF
547,Marvin Zeegelaar,NED,Watford,26,1990,12,12,994,11.0,0,...,0.09,0.00,0.09,0.00,0.09,0.09,0.00,0.09,0.0,DF
548,Oleksandr Zinchenko,UKR,Manchester City,20,1996,8,6,532,5.9,0,...,0.00,0.00,0.00,0.02,0.07,0.09,0.02,0.09,0.0,DF
549,Kurt Zouma,FRA,Stoke City,22,1994,34,32,2888,32.1,1,...,0.03,0.03,0.03,0.04,0.01,0.05,0.04,0.05,0.0,DF

#### Cleaning the Data

In [6]:
# Add in the target column
for mdf in merged_dataframes:
    mdf['TOTS'] = mdf['Tots_Apps'].apply(lambda x: 1 if x > 0 else 0)

In [7]:
merged_dataframes[4].head(20)

,Player,Nation,Squad,Age,Born,MP,Starts,Min,90s,Gls,...,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG,Tots_Apps,Pos,TOTS
0,Max Aarons,ENG,Norwich City,21,2000,34,32,2881,32.0,0,...,0.00,0.06,0.03,0.05,0.08,0.03,0.08,0.0,DF,0
1,Che Adams,SCO,Southampton,25,1996,30,23,2039,22.7,7,...,0.31,0.44,0.31,0.13,0.45,0.31,0.45,0.0,FW,0
2,Rayan Aït-Nouri,ALG,Wolves,20,2001,23,20,1828,20.3,1,...,0.05,0.15,0.03,0.08,0.11,0.03,0.11,0.0,DF,0
3,Kristoffer Ajer,NOR,Brentford,23,1998,24,23,1995,22.2,1,...,0.05,0.18,0.04,0.08,0.11,0.04,0.11,0.0,DF,0
4,Nathan Aké,NED,Manchester City,26,1995,14,10,923,10.3,2,...,0.20,0.20,0.07,0.06,0.12,0.07,0.12,0.0,DF,0
5,Marc Albrighton,ENG,Leicester City,31,1989,17,11,1132,12.6,1,...,0.08,0.24,0.04,0.16,0.20,0.04,0.20,0.0,FW,0
6,Thiago Alcántara,ESP,Liverpool,30,1991,25,17,1534,17.0,1,...,0.06,0.29,0.11,0.14,0.25,0.11,0.25,0.0,MF,0
7,Trent Alexander-Arnold,ENG,Liverpool,22,1998,32,32,2853,31.7,2,...,0.06,0.44,0.07,0.38,0.46,0.07,0.46,0.0,DF,0
8,Alisson,BRA,Liverpool,28,1992,36,36,3240,36.0,0,...,0.00,0.03,0.00,0.01,0.01,0.00,0.01,1.0,GK,1
9,Allan,BRA,Everton,30,1991,28,25,2183,24.3,0,...,0.00,0.08,0.01,0.03,0.04,0.01,0.04,0.0,MF,0
10,Dele Alli,ENG,Tottenham,25,1996,10,8,657,7.3,1,...,0.00,0.00,0.22,0.04,0.26,0.11,0.15,0.0,MF,0
11,Dele Alli,ENG,Everton,25,1996,11,1,338,3.8,0,...,0.00,0.00,0.03,0.09,0.12,0.03,0.12,0.0,MF,0
12,Miguel Almirón,PAR,Newcastle Utd,27,1994,30,19,1716,19.1,1,...,0.05,0.05,0.09,0.05,0.14,0.09,0.14,0.0,MF,0
13,Marcos Alonso,ESP,Chelsea,30,1990,28,25,2167,24.1,4,...,0.17,0.33,0.12,0.19,0.30,0.12,0.30,0.0,DF,0
14,Steven Alzate,COL,Brighton,22,1998,9,5,404,4.5,0,...,0.00,0.00,0.02,0.03,0.05,0.02,0.05,0.0,MF,0
15,Daniel Amartey,GHA,Leicester City,26,1994,28,23,2123,23.6,0,...,0.00,0.00,0.00,0.01,0.01,0.00,0.01,0.0,DF,0
16,Joachim Andersen,DEN,Crystal Palace,25,1996,34,32,2916,32.4,0,...,0.00,0.09,0.02,0.05,0.07,0.02,0.07,0.0,DF,0
17,Michail Antonio,JAM,West Ham,31,1990,36,34,2971,33.0,10,...,0.30,0.55,0.33,0.18,0.51,0.31,0.49,0.0,FW,0
18,Cameron Archer,ENG,Aston Villa,20,2001,3,0,27,0.3,0,...,0.00,0.00,0.15,0.00,0.15,0.15,0.15,0.0,FW,0
19,Alphonse Areola,FRA,West Ham,28,1993,1,1,90,1.0,0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,GK,0

#### Decision Making

In [8]:
total_plyrs = 0
tots_plyrs = 11 * len(merged_dataframes)
for merged_df in merged_dataframes:
    total_plyrs += len(merged_df)

print(f"Players in TOTS over 6 years: { tots_plyrs }")
print(f"Players with stats over 6 years: { total_plyrs }")
print(f"Percentage of players that are in TOTS: % {tots_plyrs /total_plyrs * 100 }")

Players in TOTS over 6 years: 66
Players with stats over 6 years: 3206
Percentage of players that are in TOTS: % 2.0586400499064252

From the code above, we can see that we have major class imbalance when putting the DataFrames together. We will see how the model works out and if it performs well when the data is put together across different seasons. 

The reasoning behind putting the data together is that I am hoping to find a consistent standard on certain stats that lead to a player being nominated for TOTS. If I can establish this relationship, then I can use the stats for a players current season, find out what they average to, find an expected total, and use that to predict if they will make TOTS or not.

For this predict method we will have to look into Fbeta scores and see how our model performs using a confusion matrix. I also need to establish if False Positives or False Positives are more important.

In [9]:
"""JOINING THE TABLES"""
df = pd.concat(merged_dataframes)
df

,Player,Nation,Squad,Age,Born,MP,Starts,Min,90s,Gls,...,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG,Tots_Apps,Pos,TOTS
0,Patrick van Aanholt,NED,Crystal Palace,26,1990,28,25,2184,24.3,5,...,0.21,0.25,0.13,0.09,0.21,0.13,0.21,0.0,DF,0
1,Rolando Aarons,ENG,Newcastle Utd,21,1995,4,1,139,1.5,0,...,0.00,0.00,0.04,0.00,0.04,0.04,0.04,0.0,MF,0
2,Tammy Abraham,ENG,Swansea City,19,1997,31,15,1726,19.2,5,...,0.26,0.31,0.35,0.08,0.44,0.35,0.44,0.0,FW,0
3,Charlie Adam,SCO,Stoke City,31,1985,11,5,411,4.6,0,...,0.00,0.00,0.36,0.27,0.63,0.19,0.46,0.0,MF,0
4,Adrián,ESP,West Ham,30,1987,19,19,1710,19.0,0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,GK,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
586,Jordan Zemura,ZIM,Bournemouth,22,1999,19,17,1454,16.2,0,...,0.00,0.06,0.02,0.11,0.14,0.02,0.14,0.0,DF,0
587,Oleksandr Zinchenko,UKR,Arsenal,25,1996,27,26,2118,23.5,1,...,0.04,0.13,0.06,0.06,0.12,0.06,0.12,0.0,DF,0
588,Hakim Ziyech,MAR,Chelsea,29,1993,18,6,661,7.3,0,...,0.00,0.41,0.08,0.30,0.38,0.08,0.38,0.0,FW,0
589,Kurt Zouma,FRA,West Ham,27,1994,25,24,1989,22.1,2,...,0.09,0.09,0.10,0.00,0.10,0.10,0.10,0.0,DF,0
590,Martin Ødegaard,NOR,Arsenal,23,1998,37,37,3127,34.7,15,...,0.43,0.63,0.29,0.23,0.52,0.29,0.52,0.0,MF,0

In this section, we are going to make the 'Squad' column into a ordinal categorical variable by ordering the squads by average league position over the time we are getting the data. We are doing this because when looking at TOTS data, it is evident that teams that place higher in the standings tend to have more players in the TOTS. This is a big assumption I am making, so if it does not seem to have an affect on what we get from the model, I will find another way to handle this.

To accomplish this, we need to do more webscraping from fbref to find the tables and get the average position for each team that played in the Premier League in the timeframe from the 2017-18 season to the 2022-2023 season.

In [18]:
list_seasons = ['2017-2018' , '2018-2019' , '2019-2020' , '2020-2021', '2021-2022' , '2022-2023'] # Exclude current Season

# This is going to be used to store the average position of a team in their time in the premier league. 
# The key will be a team's name, and the value will be a tuple of (sum of league position, number of appearances in premier league)
teams_in_prem = {}


# url_temp = f'https://fbref.com/en/comps/9/{szn}/stats/{szn}-Premier-League-Stats'
# url_temp = f'https://fbref.com/en/comps/9/2017-2018/stats/2017-2018-Premier-League-Stats'

# # https://fbref.com/en/comps/9/2017-2018/2017-2018-Premier-League-Stats

for szn in list_seasons:
    url_temp = f'https://fbref.com/en/comps/9/{szn}/{szn}-Premier-League-Stats'
    print(url_temp)
    # Send an HTTP GET request to the URL
    temp_response = requests.get(url_temp)
    
    if temp_response.status_code == 200:
        # Parse the HTML content
        soup = BeautifulSoup(temp_response.content, 'html.parser')

        # Find Where all the Regular Season Headers are 
        table = soup.find_all('table')[0]
        # Get PL Tags
        # print(table)
        
        # soup2 = BeautifulSoup(table, 'html.parser')
        
        # Step 3: Find all the <tr> tags
        rows = table.find_all('tr')

        # Step 4: Loop through each <tr> tag and extract data
        # Skip Header Row
        for row in rows[1:]:
            # Find all <td> or <th> tags within this row
            cells = row.find_all(['td', 'th'])
            
            # Extract the text content from each cell
            cell_data = [cell.get_text(strip=True) for cell in cells]
            
            # Print or process the cell data as needed
            print(cell_data)
            
            # Store Team In Dictionary:

https://fbref.com/en/comps/9/2017-2018/2017-2018-Premier-League-Stats
['1', 'Manchester City', '38', '32', '4', '2', '106', '27', '+79', '100', '2.63', '78.6', '23.8', '+54.8', '+1.44', '54,070', 'Sergio Agüero-21', 'Ederson', '→ Champions League via league finish']
['2', 'Manchester Utd', '38', '25', '6', '7', '68', '28', '+40', '81', '2.13', '55.7', '40.7', '+15.0', '+0.40', '74,976', 'Romelu Lukaku-16', 'David de Gea', '→ Champions League via league finish']
['3', 'Tottenham', '38', '23', '8', '7', '74', '36', '+38', '77', '2.03', '64.7', '33.9', '+30.8', '+0.81', '67,953', 'Harry Kane-30', 'Hugo Lloris', '→ Champions League via league finish']
['4', 'Liverpool', '38', '21', '12', '5', '84', '38', '+46', '75', '1.97', '72.9', '33.8', '+39.1', '+1.03', '53,049', 'Mohamed Salah-32', 'Loris Karius,Simon Mignolet', '→ Champions League via league finish']
['5', 'Chelsea', '38', '21', '7', '10', '62', '38', '+24', '70', '1.84', '54.4', '33.8', '+20.6', '+0.54', '41,282', 'Eden Hazard-12', 'Thibaut Courtois', '→ Europa League via cup win1']
['6', 'Arsenal', '38', '19', '6', '13', '74', '51', '+23', '63', '1.66', '68.3', '47.8', '+20.5', '+0.54', '59,323', 'Alexandre Lacazette-14', 'Petr Čech', '→ Europa League via league finish']
['7', 'Burnley', '38', '14', '12', '12', '36', '39', '-3', '54', '1.42', '32.3', '51.2', '-18.9', '-0.50', '20,688', 'Chris Wood-10', 'Nick Pope', '→ Europa League via league finish2']
['8', 'Everton', '38', '13', '10', '15', '44', '58', '-14', '49', '1.29', '40.5', '52.4', '-11.9', '-0.31', '38,797', 'Wayne Rooney-10', 'Jordan Pickford', '']
['9', 'Leicester City', '38', '12', '11', '15', '56', '60', '-4', '47', '1.24', '50.0', '48.1', '+1.9', '+0.05', '31,583', 'Jamie Vardy-20', 'Kasper Schmeichel', '']
['10', 'Newcastle Utd', '38', '12', '8', '18', '39', '47', '-8', '44', '1.16', '41.6', '52.4', '-10.8', '-0.28', '51,992', 'Ayoze Pérez-8', 'Rob Elliot', '']
['11', 'Crystal Palace', '38', '11', '11', '16', '45', '55', '-10', '44', '1.16', '53.5', '48.2', '+5.2', '+0.14', '25,063', 'Luka Milivojević-10', 'Wayne Hennessey', '']
['12', 'Bournemouth', '38', '11', '11', '16', '45', '61', '-16', '44', '1.16', '38.8', '59.2', '-20.4', '-0.54', '10,641', 'Joshua King,Callum Wilson-8', 'Asmir Begović', '']
['13', 'West Ham', '38', '10', '12', '16', '48', '68', '-20', '42', '1.11', '36.7', '55.1', '-18.4', '-0.48', '56,885', 'Marko Arnautović-11', 'Joe Hart,Adrián', '']
['14', 'Watford', '38', '11', '8', '19', '44', '64', '-20', '41', '1.08', '45.0', '51.8', '-6.8', '-0.18', '20,231', 'Abdoulaye Doucouré-7', 'Heurelho Gomes', '']
['15', 'Brighton', '38', '9', '13', '16', '34', '54', '-20', '40', '1.05', '37.0', '50.8', '-13.8', '-0.36', '30,403', 'Glenn Murray-12', 'Mathew Ryan', '']
['16', 'Huddersfield', '38', '9', '10', '19', '28', '58', '-30', '37', '0.97', '31.3', '48.5', '-17.2', '-0.45', '24,040', 'Steve Mounié-7', 'Jonas Lössl', '']
['17', 'Southampton', '38', '7', '15', '16', '37', '56', '-19', '36', '0.95', '39.9', '45.2', '-5.3', '-0.14', '30,794', 'Charlie Austin-7', 'Fraser Forster', '']
['18', 'Swansea City', '38', '8', '9', '21', '28', '56', '-28', '33', '0.87', '31.6', '58.6', '-27.0', '-0.71', '20,623', 'Jordan Ayew-7', 'Łukasz Fabiański', 'Relegated']
['19', 'Stoke City', '38', '7', '12', '19', '35', '68', '-33', '33', '0.87', '36.5', '62.5', '-26.0', '-0.69', '29,280', 'Xherdan Shaqiri-8', 'Jack Butland', 'Relegated']
['20', 'West Brom', '38', '6', '13', '19', '31', '56', '-25', '31', '0.82', '36.5', '47.9', '-11.4', '-0.30', '24,520', 'Jay Rodriguez,Salomón Rondón-7', 'Ben Foster', 'Relegated']
https://fbref.com/en/comps/9/2018-2019/2018-2019-Premier-League-Stats
['1', 'Manchester City', '38', '32', '2', '4', '95', '23', '+72', '98', '2.58', '84.3', '24.7', '+59.6', '+1.57', '54,130', 'Sergio Agüero-21', 'Ederson', '→ Champions League via league finish']
['2', 'Liverpool', '38', '30', '7', '1', '89', '22', '+67', '97', '2.55', '73.7', '28.8', '+44.9', '+1.18', '52,983', 'Sadio Mané,Mohamed Salah-22', 'Alisson', '→ Champions League via league finish']
['3', 'Chelsea', '38', '21', '9', '8', '63', '39', '+24', '72', '1.89', '58.6', '36.4', '+22.2', '+0.58', '40,437', 'Eden Hazard-16', 'Kepa Arrizabalaga', '→ Champions League via league finish']
['4', 'Tottenham', '38', '23', '2', '13', '67', '39', '+28', '71', '1.87', '54.9', '47.1', '+7.8', '+0.20', '54,216', 'Harry Kane-17', 'Hugo Lloris', '→ Champions League via league finish']
['5', 'Arsenal', '38', '21', '7', '10', '73', '51', '+22', '70', '1.84', '60.1', '54.2', '+5.9', '+0.15', '59,899', 'Pierre-Emerick Aubameyang-22', 'Bernd Leno', '→ Europa League via league finish']
['6', 'Manchester Utd', '38', '19', '9', '10', '65', '54', '+11', '66', '1.74', '61.4', '50.6', '+10.8', '+0.29', '74,498', 'Paul Pogba-13', 'David de Gea', '→ Europa League via league finish1']
['7', 'Wolves', '38', '16', '9', '13', '47', '46', '+1', '57', '1.50', '52.1', '42.1', '+10.1', '+0.26', '31,030', 'Raúl Jiménez-13', 'Rui Patrício', '→ Europa League via league finish']
['8', 'Everton', '38', '15', '9', '14', '54', '46', '+8', '54', '1.42', '49.7', '45.7', '+4.0', '+0.10', '39,043', 'Gylfi Sigurðsson,Richarlison-13', 'Jordan Pickford', '']
['9', 'Leicester City', '38', '15', '7', '16', '51', '48', '+3', '52', '1.37', '52.4', '43.7', '+8.7', '+0.23', '31,851', 'Jamie Vardy-18', 'Kasper Schmeichel', '']
['10', 'West Ham', '38', '15', '7', '16', '52', '55', '-3', '52', '1.37', '47.6', '61.9', '-14.3', '-0.38', '58,336', 'Marko Arnautović-10', 'Łukasz Fabiański', '']
['11', 'Watford', '38', '14', '8', '16', '52', '59', '-7', '50', '1.32', '48.2', '59.2', '-11.0', '-0.29', '20,016', 'Gerard Deulofeu-10', 'Ben Foster', '']
['12', 'Crystal Palace', '38', '14', '7', '17', '51', '53', '-2', '49', '1.29', '47.6', '50.1', '-2.5', '-0.07', '25,455', 'Luka Milivojević-12', 'Vicente Guaita', '']
['13', 'Newcastle Utd', '38', '12', '9', '17', '42', '48', '-6', '45', '1.18', '39.1', '53.6', '-14.5', '-0.38', '51,121', 'Ayoze Pérez-12', 'Martin Dúbravka', '']
['14', 'Bournemouth', '38', '13', '6', '19', '56', '70', '-14', '45', '1.18', '53.3', '57.2', '-3.9', '-0.10', '10,532', 'Callum Wilson-14', 'Asmir Begović', '']
['15', 'Burnley', '38', '11', '7', '20', '45', '68', '-23', '40', '1.05', '44.4', '62.1', '-17.7', '-0.47', '20,534', 'Ashley Barnes-12', 'Tom Heaton,Joe Hart', '']
['16', 'Southampton', '38', '9', '12', '17', '45', '65', '-20', '39', '1.03', '46.9', '55.1', '-8.2', '-0.22', '30,139', 'Danny Ings,James Ward-Prowse-7', 'Alex McCarthy', '']
['17', 'Brighton', '38', '9', '9', '20', '35', '60', '-25', '36', '0.95', '35.3', '59.1', '-23.8', '-0.63', '30,426', 'Glenn Murray-13', 'Mathew Ryan', '']
['18', 'Cardiff City', '38', '10', '4', '24', '34', '69', '-35', '34', '0.89', '42.4', '61.5', '-19.1', '-0.50', '31,408', 'Bobby Reid,Víctor Camarasa-5', 'Neil Etheridge', 'Relegated']
['19', 'Fulham', '38', '7', '5', '26', '34', '81', '-47', '26', '0.68', '41.3', '68.2', '-26.8', '-0.71', '24,371', 'Aleksandar Mitrović-11', 'Sergio Rico', 'Relegated']
['20', 'Huddersfield', '38', '3', '7', '28', '22', '76', '-54', '16', '0.42', '28.8', '60.9', '-32.2', '-0.85', '23,203', 'Karlan Grant-4', 'Jonas Lössl', 'Relegated']
https://fbref.com/en/comps/9/2019-2020/2019-2020-Premier-League-Stats
['1', 'Liverpool', '38', '32', '3', '3', '85', '33', '+52', '99', '2.61', '68.9', '37.7', '+31.2', '+0.82', '41,955', 'Mohamed Salah-19', 'Alisson', '→ Champions League via league finish']
['2', 'Manchester City', '38', '26', '3', '9', '102', '35', '+67', '81', '2.13', '92.0', '36.2', '+55.7', '+1.47', '37,097', 'Raheem Sterling-20', 'Ederson', '→ Champions League via league finish']
['3', 'Manchester Utd', '38', '18', '12', '8', '66', '36', '+30', '66', '1.74', '62.2', '37.7', '+24.5', '+0.64', '57,415', 'Anthony Martial,Marcus Rashford-17', 'David de Gea', '→ Champions League via league finish']
['4', 'Chelsea', '38', '20', '6', '12', '69', '54', '+15', '66', '1.74', '69.2', '38.6', '+30.6', '+0.81', '32,023', 'Tammy Abraham-15', 'Kepa Arrizabalaga', '→ Champions League via league finish']
['5', 'Leicester City', '38', '18', '8', '12', '67', '41', '+26', '62', '1.63', '62.2', '45.5', '+16.7', '+0.44', '25,312', 'Jamie Vardy-23', 'Kasper Schmeichel', '→ Europa League via league finish']
['6', 'Tottenham', '38', '16', '11', '11', '61', '47', '+14', '59', '1.55', '47.9', '54.2', '-6.3', '-0.17', '43,757', 'Harry Kane-18', 'Hugo Lloris', '→ Europa League via league finish1']
['7', 'Wolves', '38', '15', '14', '9', '51', '40', '+11', '59', '1.55', '54.1', '38.0', '+16.1', '+0.42', '24,758', 'Raúl Jiménez-17', 'Rui Patrício', '']
['8', 'Arsenal', '38', '14', '14', '10', '56', '48', '+8', '56', '1.47', '47.0', '55.3', '-8.3', '-0.22', '47,589', 'Pierre-Emerick Aubameyang-22', 'Bernd Leno', '→ Europa League via cup win2']
['9', 'Sheffield Utd', '38', '14', '12', '12', '39', '39', '0', '54', '1.42', '43.0', '51.0', '-7.9', '-0.21', '24,370', 'Lys Mousset,Oliver McBurnie-6', 'Dean Henderson', '']
['10', 'Burnley', '38', '15', '9', '14', '43', '50', '-7', '54', '1.42', '47.4', '49.8', '-2.4', '-0.06', '15,995', 'Chris Wood-14', 'Nick Pope', '']
['11', 'Southampton', '38', '15', '7', '16', '51', '60', '-9', '52', '1.37', '56.1', '52.8', '+3.3', '+0.09', '23,428', 'Danny Ings-22', 'Alex McCarthy', '']
['12', 'Everton', '38', '13', '10', '15', '44', '56', '-12', '49', '1.29', '50.8', '48.3', '+2.5', '+0.07', '28,848', 'Dominic Calvert-Lewin,Richarlison-13', 'Jordan Pickford', '']
['13', 'Newcastle Utd', '38', '11', '11', '16', '38', '58', '-20', '44', '1.16', '35.5', '65.6', '-30.1', '-0.79', '35,551', 'Jonjo Shelvey-6', 'Martin Dúbravka', '']
['14', 'Crystal Palace', '38', '11', '10', '17', '31', '50', '-19', '43', '1.13', '35.8', '57.0', '-21.2', '-0.56', '19,784', 'Jordan Ayew-9', 'Vicente Guaita', '']
['15', 'Brighton', '38', '9', '14', '15', '39', '54', '-15', '41', '1.08', '45.4', '55.0', '-9.5', '-0.25', '22,369', 'Neal Maupay-10', 'Mathew Ryan', '']
['16', 'West Ham', '38', '10', '9', '19', '49', '62', '-13', '39', '1.03', '48.6', '63.8', '-15.2', '-0.40', '44,155', 'Michail Antonio-10', 'Łukasz Fabiański', '']
['17', 'Aston Villa', '38', '9', '8', '21', '41', '67', '-26', '35', '0.92', '44.3', '67.8', '-23.5', '-0.62', '28,505', 'Jack Grealish-8', 'Tom Heaton', '']
['18', 'Bournemouth', '38', '9', '7', '22', '40', '65', '-25', '34', '0.89', '44.8', '62.3', '-17.5', '-0.46', '7,745', 'Callum Wilson-8', 'Aaron Ramsdale', 'Relegated']
['19', 'Watford', '38', '8', '10', '20', '36', '64', '-28', '34', '0.89', '48.9', '58.1', '-9.3', '-0.24', '15,353', 'Troy Deeney-10', 'Ben Foster', 'Relegated']
['20', 'Norwich City', '38', '5', '6', '27', '26', '75', '-49', '21', '0.55', '37.0', '66.5', '-29.5', '-0.78', '19,913', 'Teemu Pukki-11', 'Tim Krul', 'Relegated']
https://fbref.com/en/comps/9/2020-2021/2020-2021-Premier-League-Stats
['1', 'Manchester City', '38', '27', '5', '6', '83', '32', '+51', '86', '2.26', '68.2', '30.2', '+38.0', '+1.00', '526', 'İlkay Gündoğan-13', 'Ederson', '→ Champions League via league finish']
['2', 'Manchester Utd', '38', '21', '11', '6', '73', '44', '+29', '74', '1.95', '60.1', '41.4', '+18.6', '+0.49', '526', 'Bruno Fernandes-18', 'David de Gea', '→ Champions League via league finish']
['3', 'Liverpool', '38', '20', '9', '9', '68', '42', '+26', '69', '1.82', '67.5', '43.0', '+24.5', '+0.65', '837', 'Mohamed Salah-22', 'Alisson', '→ Champions League via league finish']
['4', 'Chelsea', '38', '19', '10', '9', '58', '36', '+22', '67', '1.76', '62.4', '30.3', '+32.1', '+0.85', '526', 'Jorginho-7', 'Edouard Mendy', '→ Champions League via league finish']
['5', 'Leicester City', '38', '20', '6', '12', '68', '50', '+18', '66', '1.74', '55.8', '46.0', '+9.8', '+0.26', '421', 'Jamie Vardy-15', 'Kasper Schmeichel', '→ Europa League via cup win']
['6', 'West Ham', '38', '19', '8', '11', '62', '47', '+15', '65', '1.71', '55.4', '48.7', '+6.7', '+0.18', '632', 'Michail Antonio,Tomáš Souček-10', 'Łukasz Fabiański', '→ Europa League via league finish']
['7', 'Tottenham', '38', '18', '8', '12', '68', '45', '+23', '62', '1.63', '53.1', '49.1', '+4.0', '+0.10', '632', 'Harry Kane-23', 'Hugo Lloris', '→ Europa Conference League via league finish1']
['8', 'Arsenal', '38', '18', '7', '13', '55', '39', '+16', '61', '1.61', '51.8', '43.0', '+8.8', '+0.23', '632', 'Alexandre Lacazette-13', 'Bernd Leno', '']
['9', 'Leeds United', '38', '18', '5', '15', '62', '54', '+8', '59', '1.55', '55.6', '57.9', '-2.2', '-0.06', '421', 'Patrick Bamford-17', 'Illan Meslier', '']
['10', 'Everton', '38', '17', '8', '13', '47', '48', '-1', '59', '1.55', '45.7', '50.1', '-4.5', '-0.12', '368', 'Dominic Calvert-Lewin-16', 'Jordan Pickford', '']
['11', 'Aston Villa', '38', '16', '7', '15', '55', '46', '+9', '55', '1.45', '52.5', '51.1', '+1.4', '+0.04', '526', 'Ollie Watkins-14', 'Emiliano Martínez', '']
['12', 'Newcastle Utd', '38', '12', '9', '17', '46', '62', '-16', '45', '1.18', '43.4', '58.3', '-14.9', '-0.39', '526', 'Callum Wilson-12', 'Karl Darlow', '']
['13', 'Wolves', '38', '12', '9', '17', '36', '52', '-16', '45', '1.18', '36.5', '49.5', '-13.0', '-0.34', '237', 'Rúben Neves,Pedro Neto-5', 'Rui Patrício', '']
['14', 'Crystal Palace', '38', '12', '8', '18', '41', '66', '-25', '44', '1.16', '34.1', '58.2', '-24.2', '-0.64', '447', 'Wilfried Zaha-11', 'Vicente Guaita', '']
['15', 'Southampton', '38', '12', '7', '19', '47', '68', '-21', '43', '1.13', '41.2', '53.1', '-11.8', '-0.31', '526', 'Danny Ings-12', 'Alex McCarthy', '']
['16', 'Brighton', '38', '9', '14', '15', '40', '46', '-6', '41', '1.08', '50.9', '35.3', '+15.6', '+0.41', '523', 'Neal Maupay-8', 'Robert Sánchez', '']
['17', 'Burnley', '38', '10', '9', '19', '33', '55', '-22', '39', '1.03', '39.3', '54.7', '-15.4', '-0.40', '178', 'Chris Wood-12', 'Nick Pope', '']
['18', 'Fulham', '38', '5', '13', '20', '27', '53', '-26', '28', '0.74', '40.5', '52.6', '-12.1', '-0.32', '211', 'Bobby Reid-5', 'Alphonse Areola', 'Relegated']
['19', 'West Brom', '38', '5', '11', '22', '35', '76', '-41', '26', '0.68', '35.8', '67.9', '-32.0', '-0.84', '283', 'Matheus Pereira-11', 'Sam Johnstone', 'Relegated']
['20', 'Sheffield Utd', '38', '7', '2', '29', '20', '63', '-43', '23', '0.61', '32.6', '62.2', '-29.6', '-0.78', '263', 'David McGoldrick-8', 'Aaron Ramsdale', 'Relegated']
https://fbref.com/en/comps/9/2021-2022/2021-2022-Premier-League-Stats
['1', 'Manchester City', '38', '29', '6', '3', '99', '26', '+73', '93', '2.45', '88.7', '24.6', '+64.0', '+1.68', '52,774', 'Kevin De Bruyne-15', 'Ederson', '→ Champions League via league finish']
['2', 'Liverpool', '38', '28', '8', '2', '94', '26', '+68', '92', '2.42', '88.7', '33.8', '+54.9', '+1.45', '53,352', 'Mohamed Salah-23', 'Alisson', '→ Champions League via league finish']
['3', 'Chelsea', '38', '21', '11', '6', '76', '33', '+43', '74', '1.95', '63.4', '33.2', '+30.1', '+0.79', '36,443', 'Mason Mount-11', 'Edouard Mendy', '→ Champions League via league finish']
['4', 'Tottenham', '38', '22', '5', '11', '69', '40', '+29', '71', '1.87', '61.2', '39.3', '+21.9', '+0.58', '56,523', 'Son Heung-min-23', 'Hugo Lloris', '→ Champions League via league finish']
['5', 'Arsenal', '38', '22', '3', '13', '61', '48', '+13', '69', '1.82', '60.5', '45.7', '+14.9', '+0.39', '59,665', 'Bukayo Saka-11', 'Aaron Ramsdale', '→ Europa League via league finish']
['6', 'Manchester Utd', '38', '16', '10', '12', '57', '57', '0', '58', '1.53', '55.8', '53.0', '+2.8', '+0.07', '73,150', 'Cristiano Ronaldo-18', 'David de Gea', '→ Europa League via league finish']
['7', 'West Ham', '38', '16', '8', '14', '60', '51', '+9', '56', '1.47', '51.4', '53.5', '-2.1', '-0.06', '58,370', 'Jarrod Bowen-12', 'Łukasz Fabiański', '→ Europa Conference League via league finish']
['8', 'Leicester City', '38', '14', '10', '14', '62', '59', '+3', '52', '1.37', '47.8', '59.3', '-11.5', '-0.30', '32,493', 'Jamie Vardy-15', 'Kasper Schmeichel', '']
['9', 'Brighton', '38', '12', '15', '11', '42', '44', '-2', '51', '1.34', '46.2', '42.9', '+3.3', '+0.09', '30,966', 'Leandro Trossard,Neal Maupay-8', 'Robert Sánchez', '']
['10', 'Wolves', '38', '15', '6', '17', '38', '43', '-5', '51', '1.34', '37.5', '56.9', '-19.4', '-0.51', '30,841', 'Raúl Jiménez-6', 'José Sá', '']
['11', 'Newcastle Utd', '38', '13', '10', '15', '44', '62', '-18', '49', '1.29', '38.1', '57.1', '-19.0', '-0.50', '51,487', 'Callum Wilson-8', 'Martin Dúbravka', '']
['12', 'Crystal Palace', '38', '11', '15', '12', '50', '46', '+4', '48', '1.26', '46.4', '40.7', '+5.7', '+0.15', '24,588', 'Wilfried Zaha-14', 'Vicente Guaita', '']
['13', 'Brentford', '38', '13', '7', '18', '48', '56', '-8', '46', '1.21', '45.8', '48.5', '-2.7', '-0.07', '16,918', 'Ivan Toney-12', 'David Raya', '']
['14', 'Aston Villa', '38', '13', '6', '19', '52', '54', '-2', '45', '1.18', '44.0', '49.0', '-4.9', '-0.13', '41,681', 'Ollie Watkins-11', 'Emiliano Martínez', '']
['15', 'Southampton', '38', '9', '13', '16', '43', '67', '-24', '40', '1.05', '44.8', '60.0', '-15.2', '-0.40', '30,134', 'James Ward-Prowse-10', 'Fraser Forster', '']
['16', 'Everton', '38', '11', '6', '21', '43', '66', '-23', '39', '1.03', '41.2', '55.4', '-14.2', '-0.37', '38,446', 'Richarlison-10', 'Jordan Pickford', '']
['17', 'Leeds United', '38', '9', '11', '18', '42', '79', '-37', '38', '1.00', '44.4', '67.8', '-23.5', '-0.62', '36,308', 'Raphinha-11', 'Illan Meslier', '']
['18', 'Burnley', '38', '7', '14', '17', '34', '53', '-19', '35', '0.92', '39.7', '57.1', '-17.4', '-0.46', '19,278', 'Maxwel Cornet-9', 'Nick Pope', 'Relegated']
['19', 'Watford', '38', '6', '5', '27', '34', '77', '-43', '23', '0.61', '40.0', '64.5', '-24.5', '-0.64', '20,614', 'Emmanuel Dennis-10', 'Ben Foster', 'Relegated']
['20', 'Norwich City', '38', '5', '7', '26', '23', '84', '-61', '22', '0.58', '32.3', '75.5', '-43.2', '-1.14', '26,836', 'Teemu Pukki-11', 'Tim Krul', 'Relegated']
https://fbref.com/en/comps/9/2022-2023/2022-2023-Premier-League-Stats
['1', 'Manchester City', '38', '28', '5', '5', '94', '33', '+61', '89', '2.34', '78.6', '32.1', '+46.5', '+1.22', '53,249', 'Erling Haaland-36', 'Ederson', '→ Champions League via league finish']
['2', 'Arsenal', '38', '26', '6', '6', '88', '43', '+45', '84', '2.21', '71.9', '42.0', '+29.9', '+0.79', '60,191', 'Martin Ødegaard,Gabriel Martinelli-15', 'Aaron Ramsdale', '→ Champions League via league finish']
['3', 'Manchester Utd', '38', '23', '6', '9', '58', '43', '+15', '75', '1.97', '67.7', '50.4', '+17.3', '+0.45', '73,671', 'Marcus Rashford-17', 'David de Gea', '→ Champions League via league finish']
['4', 'Newcastle Utd', '38', '19', '14', '5', '68', '33', '+35', '71', '1.87', '72.0', '39.6', '+32.4', '+0.85', '52,127', 'Callum Wilson-18', 'Nick Pope', '→ Champions League via league finish']
['5', 'Liverpool', '38', '19', '10', '9', '75', '47', '+28', '67', '1.76', '72.6', '50.9', '+21.7', '+0.57', '53,163', 'Mohamed Salah-19', 'Alisson', '→ Europa League via league finish']
['6', 'Brighton', '38', '18', '8', '12', '72', '53', '+19', '62', '1.63', '73.3', '50.2', '+23.1', '+0.61', '31,477', 'Alexis Mac Allister-10', 'Robert Sánchez', '→ Europa League via league finish']
['7', 'Aston Villa', '38', '18', '7', '13', '51', '46', '+5', '61', '1.61', '50.2', '52.5', '-2.2', '-0.06', '39,485', 'Ollie Watkins-15', 'Emiliano Martínez', '→ Europa Conference League via league finish']
['8', 'Tottenham', '38', '18', '6', '14', '70', '63', '+7', '60', '1.58', '57.0', '49.6', '+7.4', '+0.20', '61,585', 'Harry Kane-30', 'Hugo Lloris', '']
['9', 'Brentford', '38', '15', '14', '9', '58', '46', '+12', '59', '1.55', '56.7', '49.9', '+6.8', '+0.18', '17,078', 'Ivan Toney-20', 'David Raya', '']
['10', 'Fulham', '38', '15', '7', '16', '55', '53', '+2', '52', '1.37', '46.2', '63.8', '-17.6', '-0.46', '23,746', 'Aleksandar Mitrović-14', 'Bernd Leno', '']
['11', 'Crystal Palace', '38', '11', '12', '15', '40', '49', '-9', '45', '1.18', '39.3', '48.1', '-8.8', '-0.23', '24,952', 'Eberechi Eze-10', 'Vicente Guaita', '']